---
layout: landing
og_title: Home
og_description: "OCF promotes open source, open data, and open government in Taiwan and nearby regions. Based in Taiwan."
css: en.css
lang: en

# 歷年成果檔名與排序
years:
  - 2023
  - 2022
  - 2021
  - 2020 
  - 2019
  - 2018
  - 2017
  - 2016
---

<div id="en">

<section id="hero" class="ui inverted center aligned basic segment marginless">

  {% include nav/header/home.html %}

  <div class="ui hidden section divider"></div>
  <div class="ui stripe container">
    <h1 class="ui inverted header">
      <span class="sentence">Open Culture Foundation</span>
    </h1>
    <p>
    Open source, open data, and open government.
    </p>
  </div>
  <hr class="ui hidden section divider">
<div class="ui stripe container">
    <a class="ui huge teal button" href="https://ocf.neticrm.tw/civicrm/contribute/transact?reset=1&id=41">DONATE<i class="right arrow icon"></i></a>
  </div>
</section>

<section class="ui vertical segment">
  <div class="ui stripe container">
  <p>
    The Open Culture Foundation (OCF), is a nonpartisan, nonprofit organization, founded in 2014 by several open tech communities in Taiwan. Our main goal is to support local communities in their  advocacy of open technology as we see open technology as the core to securing digital rights and internet freedom. “Open technology” includes three dimensions: (1) open source software & hardware that can freely used, developed and redistributed by anyone; (2) open data that can similarly be freely used, reused and redistributed by anyone; and (3) open government that promotes transparent, participatory, inclusive and accountable governance.</p> 
<p>We help governments, enterprises, and NGO’s better understand the benefits of adopting open technology, and promote the use of open tech in the public sphere. We believe that a culture of openness is the foundation for an innovative society, and the engine of  participatory democracy.
OCF was established to serve as the fiscal sponsor for Taiwanese open tech communities. Our main goal is to support local communities in their advocacy for open culture and open tech. We have continued to support these communities to run large-scale conferences, seminars, and hackathons. We have also  collaborated with a number of international offices and multilateral institutions to deepen Taiwan’s connection to the global open culture community. Some of our past collaboration partners include the American Institute in Taiwan, British Office Taipei, Bureau Francais de Taipei, and the World Bank. OCF also has strong connections with the global open source community, and regularly works with groups promoting digital human rights and internet freedom worldwide. Our mission is to build bridges between local and global open tech communities and thus act as a mediator for the promotion of open culture.</p>
<p> 
In addition to supporting  local and international communities, OCF also works on a range of our own projects. This includes our work to promote open government initiatives in Taiwan; to facilitate open environmental data, and to advocate for eID legislation reform. You can learn more about our projects in <a href="https://ocf.tw/en/p/ocf" target="_blank">our projects</a>, and about the communities we work with in <a href="https://ocf.tw/en/p/community" target="_blank">community projects.</a></p>  

  </p>
  </div>
</section>

<section id="results" class="ui stripe container">

  <div class="ui divided items">
{% for year in page.years %}
  {% assign id = year | append: "_en" %}
  {% assign data = site.data.reports[id] %}
  <div class="item">
    <div class="image">
      <img src="{{ data.cover }}" alt="">
    </div>
    <div class="content">
      <a href="/en/p/{{ year }}" class="header">{{ data.title }}</a>
      <div class="meta">
        <span></span>
      </div>
      <div class="description">
        <p>{{ data.description }}</p>
      </div>
      <div class="extra">
        <a href="/en/p/{{ year }}">
          Read Report
          <i class="right arrow icon"></i>
        </a>
      </div>
    </div>
  </div>
{% endfor %}
  </div>

</section>


</div>
