/* section wrapper */

.page__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 4rem;
  height: 4rem;
}

@media only screen and (width < 1024px) {
  .page__container {
    padding: 0 2rem;
  }
}

@media only screen and (width < 768px) {
  .page__container {
    padding: 0 1rem;
  }
}

/* spaces */

.page__spacer--xlarge {
  height: 3rem;
}

.page__spacer--large {
  height: 2rem;
}

.page__spacer {
  height: 1rem;
}

.page__spacer--small {
  height: 0.5rem;
}

@media only screen and (width < 1024px) {
  .page__spacer--xlarge {
    height: 2rem;
  }

  .page__spacer--large {
    height: 1rem;
  }
}

@media only screen and (width < 768px) {
  .page__spacer--xlarge {
    height: 1rem;
  }
}

/* layouts */

.page__grid {
  display: grid;
  align-items: center;
}

.page__flex {
  display: flex;
  align-items: center;

  &.page__flex--inline {
    display: inline-flex;
  }

  .page__flex_spacer {
    flex-grow: 1;
    flex-shrink: 1;
  }
}
