#page__pusher {
  h4 {
    color: var(--ocf-primary);
    line-height: 1;
    padding: 0 1rem;
    margin: 0;
    border-top: 1px solid var(--ocf-primary);
  }

  ul {
    padding: 0;
    list-style: none;

    li {
      a,
      a:link {
        line-height: 1;
        display: block;
        padding: 0.5rem 1rem;
        color: var(--ocf-light);
        transition: all var(--page-transition_duration) ease;

        &:hover {
          color: var(--ocf-primary);
        }
        &:active {
          color: var(--ocf-white);
        }
      }
    }
  }
}
