<div
  id="keyvisual_inner"
  style="background-image: url('{{ include.image }}');"
>
  <div class="container upper">
    <img
      class="decorator"
      src="/assets/images/level_one_kv_decorator_upper.svg"
    />
  </div>
  <div id="title_block">
    <div class="container">
      <h1>{{ include.title }}</h1>
    </div>
    <div id="subtitle_block">
      <p>{{ include.description }}</p>
    </div>
  </div>
  <div class="container lower">
    <img
      class="decorator"
      src="/assets/images/level_one_kv_decorator_lower.svg"
    />
  </div>
</div>
