{% if include.url %}
  {% assign link_url = include.url %}
{% else %}
  {% assign link_url = link.url %}
{% endif %}

{% if include.title %}
  {% assign link_title = include.title %}
{% else %}
  {% assign link_title = link.title %}
{% endif %}

{% if link_url contains 'http' %}
  {% assign link_target = '_blank' %}
{% else %}
  {% assign link_target = '_self' %}
{% endif %}

{% if include.icon == 'conditional' %}
  {% if link_target == '_blank' %}
    {% assign link_icon = 'globe' %}
  {% else %}
    {% assign link_icon = 'right arrow' %}
  {% endif %}
{% else %}
  {% assign link_icon = include.icon %}
{% endif %}

<a class="{{ include.class }}" href="{{ link_url }}" target="{{ link_target }}">
  {% if include.icon and link_icon != 'right arrow' %}
    <i class="icon {{ link_icon }}"></i>
  {% endif %}
  <span class="text">
    {{ link_title }}
  </span>
  {% if link_icon == 'right arrow' %}
    <i class="icon {{ link_icon }}"></i>
  {% endif %}
</a>
