<p>
財團法人開放文化基金會（Open Culture Foundation，簡稱 OCF）成立的主要目的，是希望能夠藉由法人組織的力量，協助台灣資訊軟體界的開放源碼社群，包含開放原始碼軟體、開放資料、開放政府三個主要領域的發展和應用。
</p>
<p>
除此之外，也期許能將開源自由的精神，更廣泛地應用在各個領域。因此，除了協助開源社群之外，基金會也協助民間企業、政府單位、非政府組織及學術單位，讓他們更能了解開源軟硬體的優勢、開放資料的重要性，進而在產、官、學三方推廣開源與開放協作的文化。
</p>

<h2 class="ui header">什麼是開放文化？跟我有什麼關係？</h2>

<h3 class="ui header">公開、透明、眾人參與</h3>
<p>開放文化 (Open Culture) 的概念源自開放原始碼運動。在早期，因為商業模式和封閉的思想，使用者購買某商業軟體之後，若是遇到問題不適用，或是驅動程式不合，都必須要和廠商回報問題，等到商業公司有時間更新了，問題才有可能解決。這樣緩慢的步調，漸漸扼殺了軟體程式的發展。於是 80 年代後期開始有了自由軟體、開放原始碼軟體運動，鼓吹原始碼的公開透明，讓想要改程式碼的人可以自由更改、多人共工的風氣，在當時可以說是引發軟體界的大革命，也帶起了軟體界的開放風潮，進而擴張至其他領域，「公開、透明、眾人參與」的革新思想一直影響著現今的軟體、產業甚至政府組織的發展。</p>


<h3 class="ui header">開放源碼——每個人打造自己的樂高</h3>

<p>開放源碼、開放原始碼 (open source) 嚴格說來有兩派的擁護者，一為自由軟體 (Free Software)、一為開放原始碼軟體 (Open Source Software)，本網站中提到的「開放源碼」或是 Open Source，泛指原始碼、或核心文件，是公開的，而非限制解釋於特定的 free (open source ) software。</p>
<p>關於 Open Source 的解釋，我們非常推薦這一個由 Bit Blueprint 所製作的樂高版本影片，經 Jimmy Huang 翻譯，用簡短幾分鐘就可以瞭解開源的概念。</p>

<figure class="video_container">
  <iframe width ="560" height ="315" src="https://www.youtube.com/embed/6NhyCXJU-IQ" frameborder="0" allowfullscreen="true"> </iframe>
</figure>

<h3 class="ui header">隱身你我日常生活中的開放源碼</h3>

<p>
從龐大的全球性的軟體專案如 Linux、FireFox 瀏覽器、Android 手機作業系統、早期蘋果電腦的 BSD 作業系統、Apache HTTP Server、維基百科、... 到小至台灣開源社群中聲名大噪的 Hackfoldr、求職小幫手、立委投票指南、口罩地圖...等等，都是開放原始碼的專案。
</p>
<p>作業系統、瀏覽器、影像處理、程式語言，這些都已經有開放原始碼的專案，現在開始<a href="https://zh.wikipedia.org/wiki/%E5%BC%80%E6%94%BE%E6%BA%90%E4%BB%A3%E7%A0%81">發掘他們吧！</a></p>

<h3 class="ui header">從開放源碼到開放文化</h3>

<p>
不光是軟體程式碼的開放，舉凡硬體電路設計、取之於民或與民眾權益相關，應當公開的政府資料、醫療知識、各領域專業或其他科普知識... 等等，都應該要能夠在合理的範圍內公開、透明，讓眾人能夠參與，如此可讓知識技術不再被拘泥於高牆之後，並且藉由眾人協作之力，得以快速發展和永續留存，這些都可以說是開放文化的範疇，開源其實就存在於你我的生活小角落，處處可開源，只要我們要用心去發現。
</p>

<h2 class="ui header">台灣的開放文化發展得如何？</h2>

<p>
台灣的開放文化發展，也因為台灣人口分布和產業發展的關係，北中南東部各地的皆有開源社群活動，但還是以北部、南部有較多的活動。感謝開源社群朋友陳幸延製作了讓我們一目了然全台開源社群的 <a href="https://www.mindmeister.com/zh/303031964/open-source-community-map-in-taiwan">mindmap</a>，另有一份在 COSCUP 發起的<a href="https://paper.dropbox.com/doc/tPwJZns4OP2JyeoOGw0PV">開源社群推廣目錄</a>，簡單收錄台灣在地開源社群的介紹。
</p>

<h2 class="ui header">為什麼會成立 OCF？怎麼開始的？</h2>

<p>
台灣的開源社群一向非常活躍，近幾年來，由社群舉辦的開源研討會更是百花齊放。籌辦研討會的帳務與單據，通常透過私人公司或社團法人核銷，但公司或社團法人各有組織上的問題與限制，因此社群間開始出現成立財團法人的討論。
</p>
<p>
2014 年 6 月，在 g0v 村長 clkao 挖坑，COSCUP、PyCon Taiwan、OSDC 等社群與 Netivism、Izero 等企業與個人贊助，資深開源人 pofeng 與 jimyhuang 奔走，以及 bobchao、honki 相挺之下，開放文化基金會向台北市政府文化局提出申請，於北市文化文創字第 10331440100 號函核准成立。
</p>
<div class="ui list">
  <div class="item">
    <a href="https://g0v.hackpad.tw/0rg.tw--2r3K7emrNpC" target="_blank">
    <i class="icon globe"></i>
    籌備期間社群討論共筆
    </a>
  </div>
  <div class="item">
    <a href="https://ocf-tw.hackpad.tw/oF2vtGMLI1d" target="_blank">
    <i class="icon globe"></i>
    捐助人簡介
    </a>
  </div>
  <div class="item">
    <a href="bylaws.html" target="_blank">
    <i class="icon globe"></i>
    財團法人開放文化基金會捐助章程
    </a>
  </div>
  <div class="item">
    <a href="" target="_blank">
    <i class="icon globe"></i>
    核准成立文件：北市文化文創字第 10331440100 號函
    </a>
  </div>
</div>

<h2 class="ui header">OCF 擅長什麼？有特別關心的議題嗎？</h2>

<h3 class="ui header">協助社群資源、連結資訊社群</h3>

<p>
誕生自 g0v 社群聊天室、發起自多個大型開源社群，OCF 和台灣資訊社群有很深的淵源，因此最擅長協助社群尋找資源，協助各地社群牽線尋找人脈，在有限的資源下，集結分散的力量並嘗試壯大之。
</p>

<h3 class="ui header">開放源碼、開放資料、開放政府</h3>

<p>
開放文化的範疇可以說是包山包海，目前 OCF 關注的議題主要在開放源碼、開放資料、開放政府這三個領域，另外開放硬體和網路自由也會是我們關心的議題之一。
</p>

<h2 class="ui header">用什麼方式推廣上述的議題？</h2>


{% for item in site.data.people.orgs.ocf.what_we_do %}
<h3 class="ui header">{{ item.tagline }}</h3>
<p>
{{ item.description }}
</p>
{% endfor %}

<h2 class="ui header">目前有取得哪些進展？</h2>

<p>
除了持續支援台灣開放源碼的軟體、硬體社群辦理多場中、大型研討會和交流推廣活動，也積極地和英國在台辦室處、美國在台協會、法國在台協會及世界銀行等國際單位共同舉辦各種與開放資料相關的主題講座與工作坊，藉以深耕台灣的開放文化，並與國際趨勢交流接軌。我們更提供政府單位關於開放資料及數位治理之相關諮詢，並與國家發展委員會、經濟部工業局、台北市政府等政府機構共同舉辦座談活動。
</p>

<div class="ui list">
{% assign i = site.data.settings.current %}
{% for item in site.data.reports %}
{% unless item[0] contains "_" %}
  {% assign i = i | minus:1 %}
  <div class="item">
    <a href="/p/{{ i }}" target="_blank">
      <i class="globe icon"></i>
      {{ i }} 年成果報告
    </a>
  </div>
{% endunless %}
{% endfor %}
  <div class="item">
    <a href="https://ocf.neticrm.tw/civicrm/mailing/view?reset=1&id=1" target="_blank">
      <i class="globe icon"></i>
      2014 年成果報告
    </a>
  </div>
</div>

<h2 class="ui header">OCF 怎麼養活自己？</h2>

<p>
我們的支出包括一些行政、活動、辦公室營運的開銷費用。經費來源主要是透過對社群收取服務費用、定期定額的捐款，以及一些零散的捐款。除行政基金之外，各社群在 OCF 的捐款收入則是專款專用的。原則是在維持資金健康的前提下，一次一小步地穩健前進... 
</p>
<div class="ui list">
  <div class="item">
    <a href="http://blog.ocf.tw/search/label/捐款徵信" target="_blank">
      <i class="icon globe"></i>
      捐款徵信
    </a>
  </div>
  <div class="item">
    <a href="http://blog.ocf.tw/search/label/捐物徵信" target="_blank">
      <i class="icon globe"></i>
      捐物徵信
    </a>
  </div>
  <!--
  <div class="item">
    <a href="" target="_blank">
      <i class="icon globe"></i>
      財務報表
    </a>
  </div>
  -->
</div>







