{% assign text = 'one' %}
{% if include.number == 2 %}
  {% assign text = 'two' %}
{% elsif include.number == 3 %}
  {% assign text = 'three' %}
{% elsif include.number == 4 %}
  {% assign text = 'four' %}
{% elsif include.number == 5 %}
  {% assign text = 'five' %}
{% elsif include.number == 6 %}
  {% assign text = 'six' %}
{% elsif include.number == 7 %}
  {% assign text = 'seven' %}
{% elsif include.number == 8 %}
  {% assign text = 'eight' %}
{% elsif include.number == 9 %}
  {% assign text = 'nine' %}
{% elsif include.number == 10 %}
  {% assign text = 'ten' %}
{% elsif include.number == 11 %}
  {% assign text = 'eleven' %}
{% elsif include.number == 12 %}
  {% assign text = 'twelve' %}
{% elsif include.number == 13 %}
  {% assign text = 'thirteen' %}
{% elsif include.number == 14 %}
  {% assign text = 'fourteen' %}
{% elsif include.number == 15 %}
  {% assign text = 'fifteen' %}
{% elsif include.number == 16 %}
  {% assign text = 'sixteen' %}
{% endif %}
