<!--
  set variables:
  project, project_id
  (optional) parent_project, parent_project_id
-->

{% if page.url contains '/en/p/' or page.url contains '/p/' %}
  {% assign paths = page.url | replace: '/en/p/', '' | replace: '/p/', '' | split: '/' %}
{% endif %}

<!-- fetch data -->

{% if paths[1] and page.name != paths[1] %}
  {% assign parent_project_id = paths[0] %}
  {% assign parent_project = site.data.p[parent_project_id].project %}
  {% assign project_id = paths[1] %}
  {% assign project = site.data.p[parent_project_id][project_id].project %}
{% else %}
  {% assign parent_project_id = undefined %}
  {% assign parent_project = undefined %}
  {% assign project_id = paths[0] %}
  {% assign project = site.data.p[project_id].project %}
{% endif %}

<!-- get vars -->

{% include _var/plist/item.html project=project parent_project=parent_project %}
