{% include _var/lang.html %}

<!--
  set variables: rlist
-->

{% assign rlist = '' %}

{% for year_file in site.data.reports %}
{% assign year_id = year_file[0] %}

{% if lang == 'en' %}
  {% if year_id contains '_en' %}
    {% assign rlist = rlist | append: ',' | append: year_id %}
  {% endif %}
{% else %}
  {% if year_id contains '_en' %}
  {% else %}
    {% assign rlist = rlist | append: ',' | append: year_id %}
  {% endif %}
{% endif %}

{% assign year_id = undefined %}
{% endfor %}

{% assign rlist = rlist | split: ',' | shift | sort | reverse %}
