---
layout: landing
og_title: 首頁
og_image: 
enable_slick: yes
css: homepage.css
js: homepage.js
partners: true
sponsors: true
donors: false

# 正在加速進行中的專案，填入專案 id，會在首頁中列出 /_data/p/[專案id] 的卡片
ongoing:
  - issues
  - openstarter
  - global
---

{% assign current = site.data.settings.current | append: "" %}
{% assign recent = site.data.settings.current | minus:1 %}

<main id="homepage">


<section id="hero" class="ui inverted center aligned basic segment marginless">

  {% include nav/header/home.html %}

  <div class="ui hidden section divider"></div>
  <div class="ui stripe container">
    <h2 class="ui inverted header"> 
      <span class="sentence">月省三杯咖啡</span>
      <span class="sentence">推動臺灣開源</span>
    </h2>
    <p>立即響應，加入 OCF 一起讓科技改變世界</p>
  </div>
  <div class="ui stripe container">
    <a class="ui huge teal button" href="https://ocf.tw/300">捐款<i class="right arrow icon"></i></a>
    <a class="ui huge teal button" href="https://button.like.co/in/embed/ocf1989/button?referrer=https://ocf.tw">likecoin捐款<i class="right arrow icon"></i></a>
  </div>
</section>


<section id="about" class="ui vertical segment">
  <div class="ui stripe container">
    <div class="ui two column stackable grid">
      <div class="column">
        <h2 class="ui header">什麼是開放文化</h2>
        <p>開放原始碼的開發機制，讓軟體界快速蓬勃發展，至今深深影響每個人的生活。近年來，這套開放的機制跨出了軟體開發領域，往文藝、政治、教育等領域擴散，形成一股新興的文化，為許多社會議題帶來新的視野。</p>
        <h2 class="ui header">開放文化基金會的起源</h2>
        <p>2014 年，多個台灣開源社群共同發起開放文化基金會（Open Culture Foundation，簡稱 OCF），期望以法人組織的力量推廣開放文化，在產、官、學、民之間激起開放協作的火花。</p>
      </div>
      <div class="center aligned column">
        <img class="ui fluid image" src="/assets/images/121212_2_OpenSwissKnife.png" alt="By Johannes Spielhagen, Bamberg, Germany [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons">
          <!--
          <figcaption>隨著軟體產業革命的成功，開放原始碼模式逐漸廣為人知，並在各種領域散播開來。</figcaption>
        -->
        <cite>
          By Johannes Spielhagen, Bamberg, Germany<br /> [<a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>], <a href="https://commons.wikimedia.org/wiki/File%3A121212_2_OpenSwissKnife.png">via Wikimedia Commons
          </a>
        </cite>
      </div>
    </div>
  </div>

  <div class="ui center aligned stripe container">
    <a class="ui button" href="/about">進一步瞭解<i class="right arrow icon"></i></a>
  </div>

</section>

<section id="what_we_do" class="ui vertical segment">
  <div class="ui stripe container">
    <h2 class="ui header">我們在做些什麼</h2>
    <hr class="ui hidden divider" />
    <div class="ui two column stackable divided grid">
      <div class="column">
        <div class="ui divided relaxed items">

          <div class="item">
          {% assign item = site.data.people.orgs.ocf.what_we_do[0] %}
            <div class="image">
              <i class="huge {{ item.icon }} icon bordered"></i>
            </div>
            <div class="content">
              <h3 class="header">{{ item.title }}</h3>
              <div class="description">
                <p>
                  {{ item.description }}
                </p>
              </div>
              <div class="extra">
              </div>
            </div>
          </div>

          <div class="item">
          {% assign item = site.data.people.orgs.ocf.what_we_do[1] %}
            <div class="image">
              <i class="huge {{ item.icon }} icon bordered"></i>
            </div>
            <div class="content">
              <h3 class="header">{{ item.title }}</h3>
              <div class="description">
                <p>
                  {{ item.description }}
                </p>
              </div>
              <div class="extra">
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="column">
        <div class="ui divided relaxed items">

          <div class="item">
          {% assign item = site.data.people.orgs.ocf.what_we_do[2] %}
            <div class="image">
              <i class="huge {{ item.icon }} icon bordered"></i>
            </div>
            <div class="content">
              <h3 class="header">{{ item.title }}</h3>
              <div class="description">
                <p>
                  {{ item.description }}
                </p>
              </div>
              <div class="extra">
              </div>
            </div>
          </div>

          <div class="item">
          {% assign item = site.data.people.orgs.ocf.what_we_do[3] %}
            <div class="image">
              <i class="huge {{ item.icon }} icon bordered"></i>
            </div>
            <div class="content">
              <h3 class="header">{{ item.title }}</h3>
              <div class="description">
                <p>
                  {{ item.description }}
                </p>
              </div>
              <div class="extra">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="ui center aligned stripe container">
    <a class="ui button" href="/p/2023/">近年成果回顧<i class="right arrow icon"></i></a>
    <a class="ui button" href="https://drive.google.com/file/d/1TRFCMlULdmMJCgZMHAmW-OHIrpF2B23P/view?usp=drive_link">2022 成果報告<i class="right arrow icon"></i></a>
    <a class="ui button" href="https://calendar.google.com/calendar/u/0?cid=cDA5dWg4Y2c0dXZ0MmlqNG9iZjQ1Y2x0c2tAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ">開源日曆<i class="right arrow icon"></i></a>
    <!-- <a class="ui button" href="/p/{{ recent }}/">近年成果回顧<i class="right arrow icon"></i></a> -->
  </div>

</section>

{% if page.ongoing %}
<section id="what_is_happening" class="ui vertical segment">
  <div class="ui stripe container">
    <h2 class="ui header">正在加速進行中</h2>
    <div class="ui three column stackable cards">

      {% for project_id in page.ongoing %}
      {% assign project = site.data.p[project_id].project %}
      {% include plist/card.html project=project %}
      {% endfor %}

    </div>
  </div>
  <div class="ui center aligned stripe container">
    <a class="ui button" href="/p">
      瀏覽所有專案
      <i class="right arrow icon"></i>
    </a>
  </div>
</section>

</section>
<section id="ocflab" class="ui vertical segment">
  <div class="ui stripe container">
  <h2 class="ui header">Blog 快報</h2>

  <div class="ui three column stackable cards">
  

  <div class="card">
    <div class="image">
      <a href="https://blog.ocf.tw/2023/08/oss-countermeasures.html">
      <img src="./supportus/openeverywhere.jpg" width="100%" height="80%" >
      </a>
    </div>
    <div class="content">
      <a href="https://blog.ocf.tw/2023/08/oss-countermeasures.html">
      <h3 class="header">企業使用開源軟體訴訟風險及因應對策</h3>
       </a>
      <div class="description">
        隨著 Meta 開源其大型語言模型 LLaMA 與其衍生出許多基於 LLaMA 訓練的模型（註一），只需透過個人電腦的硬體需求也可訓練與運行模型，無疑對全球投下一枚震撼彈，再加上微軟於 2023 年 4 月 12 日宣佈開源 Deep Speed Chat，來幫助使用者輕鬆訓練類 ChatGPT、LLaMA 等大語言模型，讓人人都玩得起大型語言模型，更是開啟了另一個新世代，未來可預期的是新的開源生態系將大爆發，同時，這意味著「開源軟體」的威力，已不僅僅是組織、企業間軍備競賽的武器，如今更近在咫尺直接與個人對視，影響著你我的生存，讓各行各業的人有如驚弓之鳥，迫切關心未來的工作是否會被 ChatGPT 所取代，迫使不論上至國家政府、組織企業，下至個人都不得不正視開源軟體發展的影響力，特別是在疫情過後，數位轉型成為企業贏在後疫情時代的必經之路，使用由全世界共同貢獻的開源軟體發展各項應用及轉型，已是不可擋的趨勢，當開源軟體已是數位轉型的神兵利器並被廣泛使用時，本文將帶領讀者進一步了解開源軟體，除打破未接觸或不熟悉「開源」的企業認為開源有資安疑慮的迷思外，同時提供企業建立開源軟體的管理機制，以順利達成企業發展數位應用及轉型的目標。
      </div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjLkVzc50UIOsGxcb4d9NH-fXhj92J2d5G99VRLnnL_L05TKifW72H5L_VXT1fbjhAC_2xIlKwBfqv1Z_RHyo1l7yzqXCymcYZ3qrwmpRi1uRvxj1b-JDraEKLDEE0mFtEbfA1hfmw7_Z-sXYp6sYyvtuFwzgBVJOnNFwULD71xIjdGZJqZKe6dFmh8pVXm/w511-h363/3.png" width="100%">
      </a>
    </div>
    <div class="content">
      <a href="https://blog.ocf.tw/search/label/%E5%B0%88%E6%AC%84">
      <h3 class="header">開源 AI 的發展（二）</h3>
      </a>
      <div class="description">
        2024 年 3 月 1 日， Elon Musk 對開發 ChatGPT 的 Open AI 公司及其執行長 Sam Altman 提出訴訟，指控對方背棄造福人類的開發初衷，違反當初開放、非營利的理念。事實上，Open AI 一直以來都因封閉源碼而飽受 AI 社群的批評，Open AI 的專有 AI 模型並未開放原始碼或神經網路，所以其他人無法直接借助他們的開發成果，也不能在其他硬體設備上執行他們的 AI 模型。Musk 和 Open AI 雙方對於「open 是不是指開源」與「怎樣是造福人類」各持己見，此事也讓我們重新思索開源的定義與利弊。
      </div>
    </div>
  </div>
  <div class="card">
    <div class="image" >
      <a href="https://blog.ocf.tw/2023/03/10YrsOpenDataLegalization.html">
      <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgccbrEuc4hcBM9G5HF7GDxjYVh9uZsnV4oJiBmuPPX3XV_hEo0lcsUy2p2BEP6PSqPZ0ukY8nWsUncRpG4UZN6ihyphenhyphenSbhdV_lHUVZyhNuSF5rhew-yddxek87Rj_oFrkIyWtHT-eHYQoD_ipVpavphvf_UKMmXVn23w6MlwYTDwv-oN-D6nkMgJ3DdV6Aw/s16000/%E6%88%AA%E5%9C%96%202024-02-16%2011.56.31_nologo.png" width="100%">
      </a>
    </div>
    <div class="content">
      <a href="https://blog.ocf.tw/2024/02/ooni2024update.html">
      <h3 class="header">OONI 專案近況更新</h3>
      </a>
      <div class="description">
        在 2023/12 我們初步分析 OONI 收到的觀測資料，發現目前的觀測資料約 80% 集中在 AS3462、AS18041 這兩組網路自治系統（ASN）所貢獻的資料，這樣的資料樣態對於描述目前臺灣網路狀況稍微欠缺參考價值。此外目前註冊在 TW 的 ASN 共有 437 組，而觀測資料（TW）不重複 ASN 僅佔其中的 7.32%，比例也相當低。
        透過 TWNOG 社群的協助，大約在 2023/12/16 之後，TW 的觀測資料約成長三倍、新增 8 組未成觀測到的 ASNs。
      </div>
    </div>
  </div>
  </div>


<div class="ui center aligned stripe container">
    <a class="ui button" href="http://blog.ocf.tw/">觀看 OCF Blogger<i class="right arrow icon"></i></a>
  </div>

</section>
<!--
<section id="ocflab" class="ui vertical segment">
  <div class="ui stripe container">
    <h2 class="ui header">OCFLab文章</h2>
    <hr class="ui hidden divider" />
    <div class="ui two column stackable divided grid">
      <div class="column">
        <div class="ui divided relaxed items">

          <div class="item">
            <div class="image">
              <img src="\p\ocflab\ocflab-opencore.jpeg">
            </div>
            <div class="content">
              <a href="https://lab.ocf.tw/2020/04/29/open-core/">
              <h3 class="header">在開源的基礎上開發商用產品：Open Core 的介紹與應用</h3>
              </a>
              <div class="description">
                <p>
                  開源軟體透明、允許所有人分享及修改的特性，發揮群體智慧，造就高品質的軟體開發與維護。然而，多數開源軟體對非技術使用者的門檻較高，不利於推廣。...
                </p>
              </div>
               <div class="ui center aligned stripe container">
                <a class="ui medium yellow button" href="https://lab.ocf.tw/2020/04/29/open-core/">觀看這篇文章<i class="right arrow icon"></i></a>
              </div>
              <div class="extra">
              </div>
            </div>
          </div>

          <div class="item">
            <div class="image">
              <img src="\p\ocflab\ocflab-test.png">
            </div>
            <div class="content">
              <a href="https://lab.ocf.tw/2020/06/10/metadataentry/">
              <h3 class="header">Metadata，讓我們輕鬆撈到資料和加速數位資料鏈結的好幫手！</h3>
              </a>
              <div class="description">
                <p>
                  從零開始快速了解何謂 Metadata？如何用開放授權發揮 Metadata 最大效力？ 並從國外實例看 Metadata 如何小兵立大功，發揮藝文數位化無限潛力！
                </p>
              </div>
              <div class="ui center aligned stripe container">
                <a class="ui medium orange button" href="https://lab.ocf.tw/2020/06/10/metadataentry">觀看這篇文章<i class="right arrow icon"></i></a>
              </div>
              <div class="extra">
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="column">
        <div class="ui divided relaxed items">
          <div class="item">
            <div class="image">
              <img src="\p\ocflab\opendata2.png">
            </div>
            <div class="content">
              <a href="https://lab.ocf.tw/2020/03/12/opendatanextstep/">
              <h3 class="header">邁向下一個開放資料里程碑之前</h3>
              </a>
              <div class="description">
                <p>
                  「開放資料專法」今年即將推出，重新盤點現況，才能踏出正確的下一步!因此，開放文化基金會與不同領域之資料運用公民和資料開放專家合作，以案例和實際流程，釐清開放資料現況與民間實質運用的差距，也希望透過這樣的整體，為即將上路的專法，找出正確的方向。
                </p>
              <div class="ui center aligned stripe container">
                <a class="ui medium blue button" href="https://lab.ocf.tw/2020/06/24/thaubing/">觀看這篇文章<i class="right arrow icon"></i></a>
              </div>
              </div>
              <div class="extra">
              </div>
            </div>
          </div>

          <div class="item">
            <div class="image">
              <img src="\p\ocflab\ocflab-0624.jpg">
            </div>
            <div class="content">
              <a href="https://lab.ocf.tw/2020/06/24/thaubing/">
              <h3 class="header">【開源x開箱】掃了再買：用消費者的力量讓企業做出改變</h3>
              </a>
              <div class="description">
                <p>
                  別再抖內無良廠商！APP 掃條碼，輕鬆看製造商違規紀錄，購物+支持環境正義一兼兩顧！...
                </p>
              <div class="ui center aligned stripe container">
                <a class="ui medium purple button" href="https://lab.ocf.tw/2020/06/24/thaubing/">觀看這篇文章<i class="right arrow icon"></i></a>
              </div>
              </div>
              <div class="extra">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="ui center aligned stripe container">
    <a class="ui huge pink button" href="https://lab.ocf.tw/">觀看更多OCFLab文章<i class="right arrow icon"></i></a>
    -->

    <!-- <a class="ui button" href="/p/{{ recent }}/">近年成果回顧<i class="right arrow icon"></i></a> -->
    <!--
  </div>

</section>
-->
{% endif %}

{% if page.partners %}
<section id="partners" class="ui vertical segment">
  <div class="ui stripe container">
    <h2 class="ui header">合作夥伴</h2>
    <div class="ui horizontal center aligned list">

  {% for org_id in site.data.people.relations.partners %}
  {% assign org = site.data.people.orgs[org_id] %}

      <a class="item" target="_blank" href="{{ org.link[0].url }}">
        <img class="logo" src="{{ org.logo }}" alt="{{ org.name }}" />
      </a>

  {% endfor %}

    </div>
  </div>

</section>
{% endif %}

{% if page.sponsors %}
<section id="sponsors" class="ui vertical segment">
  <div class="ui stripe container">
    <h2 class="ui header">贊助夥伴</h2>
    <div class="ui horizontal center aligned list">

  {% for org_id in site.data.people.relations.sponsors %}
  {% assign org = site.data.people.orgs[org_id] %}
      <a class="item" target="_blank" href="{{ org.link[0].url }}">
        <img class="logo" src="{{ org.logo }}" alt="{{ org.name }}" />
      </a>
  {% endfor %}

    </div>
  </div>
</section>
{% endif %}
<!--
{% if page.donors %}
<section id="donors" class="ui vertical segment">
  <div class="ui stripe container">
    <h2 class="ui header">捐助人</h2>
    <div class="ui center aligned labels">

  {% for donor in site.data.people.relations.donors %}
      <span class="ui label">{{ donor }}</span>
  {% endfor %}

    </div>
  </div>
</section>
{% endif %}
-->
<section id="ads" class="ui vertical segment">
  <div class="ui stripe container">
    {% include banner_cta.html %}
  </div>
</section>

</main>
