---
layout: landing
og_title: 首頁
og_image: 
enable_slick: yes
css: homepage.css
js: homepage.js
partners: true
sponsors: true
donors: false

# 正在加速進行中的專案，填入專案 id，會在首頁中列出 /_data/p/[專案id] 的卡片
ongoing:
  - opentech
  - dra
  - defendhrd
---

{% assign current = site.data.settings.current | append: "" %}
{% assign recent = site.data.settings.current | minus:1 %}

<main id="homepage">


<div style="width:100%;background-color: #333333;">
{% include nav/header/home.html %}
</div>

<section id="hero" class="ui inverted center aligned basic segment marginless">

  <div class="banner">
    <div style="max-width: 1440px; margin:auto;">
      <a href="https://10years.ocf.tw/">
        <img class="ui centered rounded image"
            src="/assets/images/10years_banner.webp">
      </a>
    </div>
    <a class="ui purple inverted button tenyearbtn"
       href="https://10years.ocf.tw/">
      10 週年 開源音樂祭
    </a>
  </div>
  <div class="ui hidden section divider"></div>
  <div class="ui stripe container">
    <h2 class="ui inverted header"> 
      <span class="sentence">月省三杯咖啡</span>
      <span class="sentence">推動臺灣開源</span>
    </h2>
    <p>立即響應，加入 OCF 一起讓科技改變世界</p>
  </div>
  <div class="ui stripe container">
    <a class="ui huge teal button" href="https://ocf.tw/300">捐款<i class="right arrow icon"></i></a>
    <a class="ui huge teal button" href="https://button.like.co/in/embed/ocf1989/button?referrer=https://ocf.tw">likecoin捐款<i class="right arrow icon"></i></a>
  </div>
</section>


<section id="about" class="ui vertical segment">
  <div class="ui stripe container">
    <div class="ui two column stackable grid">
      <div class="column">
        <h2 class="ui header">什麼是開放文化</h2>
        <p>開放原始碼的開發機制，讓軟體界快速蓬勃發展，至今深深影響每個人的生活。近年來，這套開放的機制跨出了軟體開發領域，往文藝、政治、教育等領域擴散，形成一股新興的文化，為許多社會議題帶來新的視野。</p>
        <h2 class="ui header">開放文化基金會的起源</h2>
        <p>2014 年，多個臺灣開源社群共同發起開放文化基金會（Open Culture Foundation，簡稱 OCF），期望以法人組織的力量推廣開放文化，在產、官、學、民之間激起開放協作的火花。</p>
      </div>
      <div class="center aligned column">
        <img class="ui fluid image" src="/assets/images/121212_2_OpenSwissKnife.png" alt="By Johannes Spielhagen, Bamberg, Germany [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons">
          <!--
          <figcaption>隨著軟體產業革命的成功，開放原始碼模式逐漸廣為人知，並在各種領域散播開來。</figcaption>
        -->
        <cite>
          By Johannes Spielhagen, Bamberg, Germany<br /> [<a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>], <a href="https://commons.wikimedia.org/wiki/File%3A121212_2_OpenSwissKnife.png">via Wikimedia Commons
          </a>
        </cite>
      </div>
    </div>
  </div>

  <div class="ui center aligned stripe container">
    <a class="ui button" href="/about">進一步瞭解<i class="right arrow icon"></i></a>
  </div>

</section>

<section id="what_we_do" class="ui vertical segment">
  <div class="ui stripe container">
    <h2 class="ui header">我們在做些什麼</h2>
    <hr class="ui hidden divider" />
    <div class="ui two column stackable divided grid">
      <div class="column">
        <div class="ui divided relaxed items">

          <div class="item">
          {% assign item = site.data.people.orgs.ocf.what_we_do[0] %}
            <div class="image">
              <i class="huge {{ item.icon }} icon bordered"></i>
            </div>
            <div class="content">
              <h3 class="header">{{ item.title }}</h3>
              <div class="description">
                <p>
                  {{ item.description }}
                </p>
              </div>
              <div class="extra">
              </div>
            </div>
          </div>

          <div class="item">
          {% assign item = site.data.people.orgs.ocf.what_we_do[1] %}
            <div class="image">
              <i class="huge {{ item.icon }} icon bordered"></i>
            </div>
            <div class="content">
              <h3 class="header">{{ item.title }}</h3>
              <div class="description">
                <p>
                  {{ item.description }}
                </p>
              </div>
              <div class="extra">
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="column">
        <div class="ui divided relaxed items">

          <div class="item">
          {% assign item = site.data.people.orgs.ocf.what_we_do[2] %}
            <div class="image">
              <i class="huge {{ item.icon }} icon bordered"></i>
            </div>
            <div class="content">
              <h3 class="header">{{ item.title }}</h3>
              <div class="description">
                <p>
                  {{ item.description }}
                </p>
              </div>
              <div class="extra">
              </div>
            </div>
          </div>

          <div class="item">
          {% assign item = site.data.people.orgs.ocf.what_we_do[3] %}
            <div class="image">
              <i class="huge {{ item.icon }} icon bordered"></i>
            </div>
            <div class="content">
              <h3 class="header">{{ item.title }}</h3>
              <div class="description">
                <p>
                  {{ item.description }}
                </p>
              </div>
              <div class="extra">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="ui center aligned stripe container">
    <a class="ui button" href="/about/#what_we_have_done">近年成果回顧<i class="right arrow icon"></i></a>
    <a class="ui button" href="/p/admin/2023/OCF2023成果報告.pdf">2023 成果報告<i class="right arrow icon"></i></a>
    <a class="ui button" href="https://10years.ocf.tw/">十週年開源祭<i class="right arrow icon"></i></a>
    <!-- <a class="ui button" href="/p/{{ recent }}/">近年成果回顧<i class="right arrow icon"></i></a> -->
  </div>

</section>

{% if page.ongoing %}
<section id="what_is_happening" class="ui vertical segment">
  <div class="ui stripe container">
    <h2 class="ui header">正在加速進行中</h2>
    <div class="ui three column stackable cards">

      {% for project_id in page.ongoing %}
      {% assign project = site.data.p[project_id].project %}
      {% include plist/card.html project=project %}
      {% endfor %}

    </div>
  </div>
  <div class="ui center aligned stripe container">
    <a class="ui button" href="/p">
      瀏覽所有專案
      <i class="right arrow icon"></i>
    </a>
  </div>
</section>

</section>
<section id="ocflab" class="ui vertical segment">
  <div class="ui stripe container">
  <h2 class="ui header">Blog 快報</h2>

  <div class="ui three column stackable cards">
  

  <div class="card">
    <div class="image">
      <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjKOis7peh_PF-DWZ5PgUVdLJBO_ylIU5aL8YnQWdhpNiaM6B6HGAjIKol8LjLPWxaZqHLjuzK7rYy9uYl8UKHE0UK8mAIMf-lYEjLPqE9pjWpliEa2s6aqcwUv2spsVsa2cSdK8tIQxhyphenhyphen6nlOc4frn1FW4Lz5P3rdjhFS1FyjM2w-3slPbUjdYCdXY_Tg/s320/%E6%A8%99%E9%A1%8C.png" >
      </a>
    </div>
    <div class="content">
      <a href="https://blog.ocf.tw/2024/01/Judicial-Yuan-AI.html">
      <h3 class="header">「司法院及所屬各機關發展人工智慧參考指引草案」公聽會發言摘要與觀點</h3>
       </a>
      <div class="description">
        資料應用侵犯隱私的隱憂，並不能光靠科技手段來解決，而是要重視民眾的資訊自主權，建立資訊揭露的管道，讓民眾擁有知的權利，使民眾有權查詢個人相關資料是否被納入，看到程式如何思考，資料如何產生，才能評估風險、自由選擇，進而實現「使用者自主原則」，確保自行決定是否退出的權力，讓政府資料應用具有充分的正當性。
      </div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhU445GxTwouQAo4Kc2q8XnULaua-gUdlTWxRF0RS5yyVsWeDojs78YYlEpzUV1ChYWj-rWFIhZ-USIzr7f8p-ddL-Otam7ftVVYW2EHzNULyPuJEyeY97yX6y3FtuRSCzLpPEPmmm9si_nWXKf7ON6qiV3u6P-YEKss9iICu9OI-G_Z845WqGhOKX27Gn3/w458-h229/human-rights-impact-assessment-for-ai-post-header.png" >
      </a>
    </div>
    <div class="content">
      <a href="https://blog.ocf.tw/2024/06/ai3.html">
      <h3 class="header">各國 AI 治理</h3>
      </a>
      <div class="description">
     隨著人工智慧（Artificial Intelligence, AI）技術蓬勃發展，AI 逐漸深入各個產業和領域中，以驚人的速度改變了人們的工作與生活。與此同時，AI 也產生了許多道德與法律的疑慮，引起社會大眾的擔憂。為了應對這個棘手議題，世界各國已開始採取行動，試圖立法治理 AI 的開發及運用方式。
      </div>
    </div>
  </div>
  <div class="card">
    <div class="image" >
      <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgccbrEuc4hcBM9G5HF7GDxjYVh9uZsnV4oJiBmuPPX3XV_hEo0lcsUy2p2BEP6PSqPZ0ukY8nWsUncRpG4UZN6ihyphenhyphenSbhdV_lHUVZyhNuSF5rhew-yddxek87Rj_oFrkIyWtHT-eHYQoD_ipVpavphvf_UKMmXVn23w6MlwYTDwv-oN-D6nkMgJ3DdV6Aw/s16000/%E6%88%AA%E5%9C%96%202024-02-16%2011.56.31_nologo.png" >
      </a>
    </div>
    <div class="content">
      <a href="https://blog.ocf.tw/2024/02/ooni2024update.html">
      <h3 class="header">OONI 專案近況更新</h3>
      </a>
      <div class="description">
        在 2023/12 我們初步分析 OONI 收到的觀測資料，發現目前的觀測資料約 80% 集中在 AS3462、AS18041 這兩組網路自治系統（ASN）所貢獻的資料，這樣的資料樣態對於描述目前臺灣網路狀況稍微欠缺參考價值。此外目前註冊在 TW 的 ASN 共有 437 組，而觀測資料（TW）不重複 ASN 僅佔其中的 7.32%，比例也相當低。
        透過 TWNOG 社群的協助，大約在 2023/12/16 之後，TW 的觀測資料約成長三倍、新增 8 組未成觀測到的 ASNs。
      </div>
    </div>
  </div>
  </div>


<div class="ui center aligned stripe container">
    <a class="ui button" href="http://blog.ocf.tw/">觀看 OCF Blogger<i class="right arrow icon"></i></a>
  </div>

</section>
<!--
<section id="ocflab" class="ui vertical segment">
  <div class="ui stripe container">
    <h2 class="ui header">OCFLab文章</h2>
    <hr class="ui hidden divider" />
    <div class="ui two column stackable divided grid">
      <div class="column">
        <div class="ui divided relaxed items">

          <div class="item">
            <div class="image">
              <img src="\p\ocflab\ocflab-opencore.jpeg">
            </div>
            <div class="content">
              <a href="https://lab.ocf.tw/2020/04/29/open-core/">
              <h3 class="header">在開源的基礎上開發商用產品：Open Core 的介紹與應用</h3>
              </a>
              <div class="description">
                <p>
                  開源軟體透明、允許所有人分享及修改的特性，發揮群體智慧，造就高品質的軟體開發與維護。然而，多數開源軟體對非技術使用者的門檻較高，不利於推廣。...
                </p>
              </div>
               <div class="ui center aligned stripe container">
                <a class="ui medium yellow button" href="https://lab.ocf.tw/2020/04/29/open-core/">觀看這篇文章<i class="right arrow icon"></i></a>
              </div>
              <div class="extra">
              </div>
            </div>
          </div>

          <div class="item">
            <div class="image">
              <img src="\p\ocflab\ocflab-test.png">
            </div>
            <div class="content">
              <a href="https://lab.ocf.tw/2020/06/10/metadataentry/">
              <h3 class="header">Metadata，讓我們輕鬆撈到資料和加速數位資料鏈結的好幫手！</h3>
              </a>
              <div class="description">
                <p>
                  從零開始快速了解何謂 Metadata？如何用開放授權發揮 Metadata 最大效力？ 並從國外實例看 Metadata 如何小兵立大功，發揮藝文數位化無限潛力！
                </p>
              </div>
              <div class="ui center aligned stripe container">
                <a class="ui medium orange button" href="https://lab.ocf.tw/2020/06/10/metadataentry">觀看這篇文章<i class="right arrow icon"></i></a>
              </div>
              <div class="extra">
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="column">
        <div class="ui divided relaxed items">
          <div class="item">
            <div class="image">
              <img src="\p\ocflab\opendata2.png">
            </div>
            <div class="content">
              <a href="https://lab.ocf.tw/2020/03/12/opendatanextstep/">
              <h3 class="header">邁向下一個開放資料里程碑之前</h3>
              </a>
              <div class="description">
                <p>
                  「開放資料專法」今年即將推出，重新盤點現況，才能踏出正確的下一步!因此，開放文化基金會與不同領域之資料運用公民和資料開放專家合作，以案例和實際流程，釐清開放資料現況與民間實質運用的差距，也希望透過這樣的整體，為即將上路的專法，找出正確的方向。
                </p>
              <div class="ui center aligned stripe container">
                <a class="ui medium blue button" href="https://lab.ocf.tw/2020/06/24/thaubing/">觀看這篇文章<i class="right arrow icon"></i></a>
              </div>
              </div>
              <div class="extra">
              </div>
            </div>
          </div>

          <div class="item">
            <div class="image">
              <img src="\p\ocflab\ocflab-0624.jpg">
            </div>
            <div class="content">
              <a href="https://lab.ocf.tw/2020/06/24/thaubing/">
              <h3 class="header">【開源x開箱】掃了再買：用消費者的力量讓企業做出改變</h3>
              </a>
              <div class="description">
                <p>
                  別再抖內無良廠商！APP 掃條碼，輕鬆看製造商違規紀錄，購物+支持環境正義一兼兩顧！...
                </p>
              <div class="ui center aligned stripe container">
                <a class="ui medium purple button" href="https://lab.ocf.tw/2020/06/24/thaubing/">觀看這篇文章<i class="right arrow icon"></i></a>
              </div>
              </div>
              <div class="extra">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="ui center aligned stripe container">
    <a class="ui huge pink button" href="https://lab.ocf.tw/">觀看更多OCFLab文章<i class="right arrow icon"></i></a>
    -->

    <!-- <a class="ui button" href="/p/{{ recent }}/">近年成果回顧<i class="right arrow icon"></i></a> -->
    <!--
  </div>

</section>
-->
{% endif %}

{% if page.partners %}
<section id="partners" class="ui vertical segment">
  <div class="ui stripe container">
    <h2 class="ui header">合作夥伴</h2>
    <div class="ui horizontal center aligned list">

  {% for org_id in site.data.people.relations.partners %}
  {% assign org = site.data.people.orgs[org_id] %}

      <a class="item" target="_blank" href="{{ org.link[0].url }}">
        <img class="logo" src="{{ org.logo }}" alt="{{ org.name }}" />
      </a>

  {% endfor %}

    </div>
  </div>

</section>
{% endif %}

{% if page.sponsors %}
<section id="sponsors" class="ui vertical segment">
  <div class="ui stripe container">
    <h2 class="ui header">贊助夥伴</h2>
    <div class="ui horizontal center aligned list">

  {% for org_id in site.data.people.relations.sponsors %}
  {% assign org = site.data.people.orgs[org_id] %}
      <a class="item" target="_blank" href="{{ org.link[0].url }}">
        <img class="logo" src="{{ org.logo }}" alt="{{ org.name }}" />
      </a>
  {% endfor %}

    </div>
  </div>
</section>
{% endif %}
<!--
{% if page.donors %}
<section id="donors" class="ui vertical segment">
  <div class="ui stripe container">
    <h2 class="ui header">捐助人</h2>
    <div class="ui center aligned labels">

  {% for donor in site.data.people.relations.donors %}
      <span class="ui label">{{ donor }}</span>
  {% endfor %}

    </div>
  </div>
</section>
{% endif %}
-->
<section id="ads" class="ui vertical segment">
  <div class="ui stripe container">
    {% include banner_cta.html %}
  </div>
</section>

</main>
