---
layout: landing
og_title: 首頁
og_image: 
enable_slick: yes
css: /assets/styles/homepage.css
js: /assets/scripts/homepage.js
partners: true
sponsors: true
donors: false
ongoing:
  - admin
  - intl
  - cscs
---

{% assign current = site.data.settings.current | append: "" %}
{% assign recent = site.data.settings.current | minus:1 %}

<main id="homepage">

<section id="hero" class="ui inverted center aligned basic segment marginless">

  {% include nav/header/home.html %}

  <div class="ui hidden section divider"></div>
  <div class="ui stripe container">
    <h2 class="ui inverted header"> 
      <span class="sentence">月省三杯咖啡</span>
      <span class="sentence">推動臺灣開源</span>
    </h2>
    <p>立即響應，加入OCF $300壯士！</p>
  </div>
  <div class="ui stripe container">
    <a class="ui huge teal button" href="https://ocf.neticrm.tw/civicrm/contribute/transact?reset=1&id=7">捐款<i class="right arrow icon"></i></a>
  </div>
</section>

<section id="about" class="ui vertical segment">
  <div class="ui stripe container">
    <div class="ui two column stackable grid">
      <div class="column">
        <h2 class="ui header">什麼是開放文化</h2>
        <p>開放原始碼的開發機制，讓軟體界快速蓬勃發展，至今深深影響每個人的生活。近年來，這套開放的機制跨出了軟體開發領域，往文藝、政治、教育等領域擴散，形成一股新興的文化，為許多社會議題帶來新的視野。</p>
        <h2 class="ui header">開放文化基金會的起源</h2>
        <p>2014 年，多個台灣開源社群共同發起開放文化基金會（Open Culture Foundation，簡稱 OCF），期望以法人組織的力量推廣開放文化，在產、官、學、民之間激起開放協作的火花。</p>
      </div>
      <div class="center aligned column">
        <img class="ui fluid image" src="/assets/images/121212_2_OpenSwissKnife.png" alt="By Johannes Spielhagen, Bamberg, Germany [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons">
          <!--
          <figcaption>隨著軟體產業革命的成功，開放原始碼模式逐漸廣為人知，並在各種領域散播開來。</figcaption>
        -->
        <cite>
          By Johannes Spielhagen, Bamberg, Germany<br /> [<a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>], <a href="https://commons.wikimedia.org/wiki/File%3A121212_2_OpenSwissKnife.png">via Wikimedia Commons
          </a>
        </cite>
      </div>
    </div>
  </div>

  <div class="ui center aligned stripe container">
    <a class="ui button" href="/about">進一步瞭解<i class="right arrow icon"></i></a>
  </div>

</section>

<section id="what_we_do" class="ui vertical segment">
  <div class="ui stripe container">
    <h2 class="ui header">我們在做些什麼</h2>
    <hr class="ui hidden divider" />
    <div class="ui two column stackable divided grid">
      <div class="column">
        <div class="ui divided relaxed items">

          <div class="item">
          {% assign item = site.data.people.orgs.ocf.what_we_do[0] %}
            <div class="image">
              <i class="huge {{ item.icon }} icon bordered"></i>
            </div>
            <div class="content">
              <h3 class="header">{{ item.title }}</h3>
              <div class="description">
                <p>
                  {{ item.description }}
                </p>
              </div>
              <div class="extra">
              </div>
            </div>
          </div>

          <div class="item">
          {% assign item = site.data.people.orgs.ocf.what_we_do[1] %}
            <div class="image">
              <i class="huge {{ item.icon }} icon bordered"></i>
            </div>
            <div class="content">
              <h3 class="header">{{ item.title }}</h3>
              <div class="description">
                <p>
                  {{ item.description }}
                </p>
              </div>
              <div class="extra">
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="column">
        <div class="ui divided relaxed items">

          <div class="item">
          {% assign item = site.data.people.orgs.ocf.what_we_do[2] %}
            <div class="image">
              <i class="huge {{ item.icon }} icon bordered"></i>
            </div>
            <div class="content">
              <h3 class="header">{{ item.title }}</h3>
              <div class="description">
                <p>
                  {{ item.description }}
                </p>
              </div>
              <div class="extra">
              </div>
            </div>
          </div>

          <div class="item">
          {% assign item = site.data.people.orgs.ocf.what_we_do[3] %}
            <div class="image">
              <i class="huge {{ item.icon }} icon bordered"></i>
            </div>
            <div class="content">
              <h3 class="header">{{ item.title }}</h3>
              <div class="description">
                <p>
                  {{ item.description }}
                </p>
              </div>
              <div class="extra">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="ui center aligned stripe container">
    <a class="ui button" href="/p/2019/">近年成果回顧<i class="right arrow icon"></i></a>
    <!-- <a class="ui button" href="/p/{{ recent }}/">近年成果回顧<i class="right arrow icon"></i></a> -->
  </div>

</section>
<!--
<section id="what_they_say" class="ui vertical segment">
  <div class="ui stripe container">
    <h2 class="ui header">大家怎麼說</h2>
    <div class="slick">

      <blockquote>
        <div class="small container">
          <div class="ui two column stackable grid">
            <div class="three wide column center aligned">
              <img class="ui reference circular image" src="/people/board/pofeng.jpg">
            </div>
            <div class="thirteen wide column center aligned">
              <div class="horizontal vertical padding">
                <p class="blockquote">
                  OCF 是許多人的開源怨念下誕生的結晶，OCF 最高
                </p>
                <cite>
                  <span class="sentence">李柏鋒 (Pofeng),</span>
                  <span class="sentence">開放文化基金會董事</span>
                </cite>
              </div>
            </div>
          </div>
        </div>
      </blockquote>

      <blockquote>
        <div class="small container">
          <div class="ui two column stackable grid">
            <div class="three wide column center aligned">
              <img class="ui reference circular image" src="/people/board/clkao.jpg">
            </div>
            <div class="thirteen wide column center aligned">
              <div class="horizontal vertical padding">
                <p class="blockquote">
                  OCF 是許多人的開源怨念下誕生的結晶，OCF 最高
                </p>
                <cite>
                  <span class="sentence">高嘉良 (clkao),</span>
                  <span class="sentence">g0v 零時政府共同發起人</span>
                </cite>
              </div>
            </div>
          </div>
        </div>
      </blockquote>

      <blockquote>
        <div class="small container">
          <div class="ui two column stackable grid">
            <div class="three wide column center aligned">
              <img class="ui reference circular image" src="/people/board/bobchao.jpg">
            </div>
            <div class="thirteen wide column center aligned">
              <div class="horizontal vertical padding">
                <p class="blockquote">
                  OCF 是許多人的開源怨念下誕生的結晶，OCF 最高
                </p>
                <cite>
                  <span class="sentence">趙柏強 (bobchao),</span>
                  <span class="sentence">Mozilla Taiwan 社群協調人</span>
                </cite>
              </div>
            </div>
          </div>
        </div>
      </blockquote>

    </div>
  </div>
</section>
-->
{% if page.partners %}
<section id="partners" class="ui vertical segment">
  <div class="ui stripe container">
    <h2 class="ui header">合作夥伴</h2>
    <div class="ui horizontal center aligned list">

  {% for org_id in site.data.people.relations.partners %}
  {% assign org = site.data.people.orgs[org_id] %}

      <a class="item" target="_blank" href="{{ org.link[0].url }}">
        <img class="logo" src="{{ org.logo }}" alt="{{ org.name }}" />
      </a>

  {% endfor %}

    </div>
  </div>
</section>
{% endif %}

{% if page.sponsors %}
<section id="sponsors" class="ui vertical segment">
  <div class="ui stripe container">
    <h2 class="ui header">贊助夥伴</h2>
    <div class="ui horizontal center aligned list">

  {% for org_id in site.data.people.relations.sponsors %}
  {% assign org = site.data.people.orgs[org_id] %}
      <a class="item" target="_blank" href="{{ org.link[0].url }}">
        <img class="logo" src="{{ org.logo }}" alt="{{ org.name }}" />
      </a>
  {% endfor %}

    </div>
  </div>
</section>
{% endif %}
<!--
{% if page.donors %}
<section id="donors" class="ui vertical segment">
  <div class="ui stripe container">
    <h2 class="ui header">捐助人</h2>
    <div class="ui center aligned labels">

  {% for donor in site.data.people.relations.donors %}
      <span class="ui label">{{ donor }}</span>
  {% endfor %}

    </div>
  </div>
</section>
{% endif %}
-->
{% if page.ongoing %}
<section id="what_is_happening" class="ui vertical segment">
  <div class="ui stripe container">
    <h2 class="ui header">正在加速進行中</h2>
    <div class="ui three column stackable cards">

  {% for project_id in page.ongoing %}
    {% assign project = site.data.projects[current][project_id] %}
      <div class="card">
        <div class="image">
          <img src="{{ project.cover }}" alt="" />
        </div>
        <div class="content">
          <h3 class="header">{{ project.name }}</h3>
          <div class="description">{{ project.description }}
          </div>
        </div>
        <div class="extra content">

    {% for link in project.link %}
      {% include _shared/link.html link=link class='item' icon='conditional' %}
    {% endfor %}

        </div>
      </div>
  {% endfor %}

    </div>
  </div>
  <div class="ui center aligned stripe container">
    <a class="ui button" href="/p">
      瀏覽所有專案
      <i class="right arrow icon"></i>
    </a>
  </div>
</section>
{% endif %}

<section id="ads" class="ui vertical segment">
  <div class="ui stripe container">
    {% include banner_cta.html %}
  </div>
</section>

</main>
