---
redirect_from:
  - /events/SOCP
  - /events/SOCP/
  - /p/2015/intl/socp/

layout: event
year: 2015
project_id: intl
event_id: socp
color: teal
veil_opacity:

summary:
  - 本活動很榮幸邀請到來自美國的 Steven Clift，他在 2013 獲頒白宮「開放政府」改革先鋒獎項。他將分享二十年來建構活躍的線上社群的秘訣與經驗。

agenda:
  - time: 18:30 - 19:00
    title: 報到 / Registration
  - time: 12:00 - 12:30
    title: 報到 / Registration
  - time: 12:30 - 12:40 - clkao
    title: 開場 / Opening
  - time: 12:40 - 13:10 - Steven Clift
    title: "主題演講：數位世代的公民參與 / Engaging Times: Citizen Participation in the Digital Age"
  - time: 13:10 - 13:40 - 簡宏偉 / Howard Jyan
    title: join.gov.tw 與國發會推動之公民參與藍圖(暫) / join.gov.tw and NDC's Citizen Participation Blueprint (tentative)
  - time: 13:40 - 14:10 - 唐鳳 / Audrey Tang
    title: "vTaiwan.tw - from g0v to gov: 虛擬世界法規調適與線上諮詢 / Consultation and e-Rulemaking"
  - time: 14:10 - 14:40 - 呂家華 / Chia-Hua Lu
    title: 審議民主十年度 - 從技術到價值 （兼談臺北市政府、臺南市政府開放政府操作之觀察） / A Decade of Deliberation - from Techniques to Principles
  - time: 14:40 - 15:30 - 張維志 / Whisky Chang
    title: 綜合座談 / Panel
  - time: 15:30 - 16:00
    title: 下午茶 / Tea break
  - time: 16:00 - 17:00
    title: 閃電講 / Lightning talks

speakers:
  - name: Steven Clift
    title: 獲頒白宮「開放政府」改革先鋒 / a White House Champion of Change
    avatar: steven_clift.jpg
    description:
      - Steven 在 1994 年就建立了世界上第一個選舉資訊網站，是一位持續推動數位民主的世界級領導者，並在 2013 年獲頒白宮「開放政府」改革先鋒獎項。長期從社區到城市層級推動線上民主，並成功的連結不同種族、收入、新移民，建立包容的線上及線下社群，降低數位落差。
      - Steven Clift created the world's first election information website in 1994 and continues his "e-democracy" leadership online with 2013 recognition as a White House Champion of Change for Open Government.  He has been building online community from neighborhood to city level, and successfully connected people across demographics with an inclusive online and offline community, reducing the digital divide.
    specialty:
    experience:
    education:
  - name: 簡宏偉 / Howard Jyan
    title: 國發會．資管處處長
    avatar: howard_jyan.jpg
    description:
    specialty:
    experience:
    education:
    link:
      - title: 個人臉書
        url: https://www.facebook.com/howard.jyan.5
  - name: 唐鳳 / @audreyt
    title: 開源公民黑客
    avatar: audreyt.jpg
    description:
    specialty:
    experience:
    education:
    link:
      - title: 個人推特
        url: https://twitter.com/audreyt
  - name: 呂家華 / Chia-Hua Lu
    title: 審議實務推手
    avatar: chiahua.png
    description:
    specialty:
    experience:
    education:
    link:
      - title: 個人臉書
        url: https://www.facebook.com/luchiahua0515
  - name: 張維志 / Whisky Chang
    title: Opendata.tw 發起人
    avatar: whisky_chang.jpg
    description:
    specialty:
    experience:
    education:
    link:
      - title: 個人臉書
        url: https://www.facebook.com/TajfunInsulo
orgs:
---

{% assign year = page.year | append: "" %}
{% assign event_id = page.event_id | append: "" %}
{% assign event = site.data.events[year][event_id] %}

{% include_relative intro.html %}
<div class="ui horizontal divider">
  <i class="icon announcement"></i>
</div>

{% include event/speakers.html %}
<div class="ui horizontal divider">
  <i class="icon announcement"></i>
</div>

{% include event/agenda.html %}
<div class="ui horizontal divider">
  <i class="icon announcement"></i>
</div>

<p>
本活動由開放文化基金會、美國在台協會、國家發展委員會、台灣微軟共同舉辦。
</p>
<p>
State of Citizen Participation is hosted by the Open Culture Foundation, AIT, NDC, Microsoft.
</p>

{% include event/orgs.html %}
<div class="ui horizontal divider">
  <i class="icon announcement"></i>
</div>

<p>
STEVEN CLIFT 訪台系列活動：(需另外報名）
</p>

<div class="ui divided list">
  <div class="item">
    <div class="header">
    6/10(三) 10:00-12:00 台大政治學系
    </div>
    <div class="description">
    Engaging Times: The Next Generation, Democracy, and the Digital Era
    <a target="_blank" href="https://www.facebook.com/AIT.Social.Media/photos/a.195935878489.126209.193725958489/10153283026613490/?type=1&theater">
    <i class="icon globe"></i>
    活動資訊
    </a>
    </div>
  </div>
  <div class="item">
    <div class="header">
    6/11(四) 14:00-16:00 美國中心
    </div>
    <div class="description">
    (報名傳真: 02-2725-2644/Email: ChenVMH {at} state.gov)
    </div>
    <div class="description">
    Engaging Times: Building Vibrant Democracy in the Digital Era
    <a target="_blank" href="https://www.facebook.com/AIT.Social.Media/photos/a.195935878489.126209.193725958489/10153289417773490/?type=1">
    <i class="icon globe"></i>
    活動資訊
    </a>
    </div>
  </div>
  <div class="item">
    <div class="header">
    6/14 (日) 12:00-17:00 台灣微軟
    </div>
    <div class="description">
    (本活動) 
    </div>
  </div>
</div>
<p>
如果您希望支持我們舉辦更多國際交流活動，您也可以選擇贊助開放文化基金會，超過三千元我們將致贈本活動門票予您或您的朋友。
</p>

<div class="ui list">
  <a target="_blank" href="https://kktix.com/events/ignite-od/registrations/new" class="item">
  ☞ 立刻贊助國際交流計畫（含 15% 行政費用）</a>
  <a target="_blank" href="http://ocf.tw/donate/" class="item">
  ☞ 一般捐款及定期定額</a>
</div>

<div class="ui horizontal divider">
  <i class="icon announcement"></i>
</div>

<h2 class="ui header">報名本活動</h2>

<iframe class="kktix" src="https://kktix.com/tickets_widget?slug=socp" frameborder="0" height="420" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
