---
layout: design
data: content
head: css-fancybox.html
script: script-fancybox.html
css: /assets/design.css
js: /assets/fancybox.js
toc:
  slogan: OCF 口號
  description: OCF 簡介文案
  contact: OCF 聯絡方式
  type: OCF 專案的業務形態
  topic: OCF 專案的所屬議題
  field: OCF 專案的學術領域
  ads: 300 壯士廣告區塊
---

<div class="ui two column stackable grid">

  <div id="toc" data-context="desktop" class="six wide column">
    <nav class="ui secondary sticky vertical pointing fluid menu">

      {% for article in page.toc %}
      <a href="#{{ article[0] }}" class="item">{{ article[1] }}</a>
      {% endfor %}

    </nav>
  </div>

  <div class="ten wide column">

    {% for article in page.toc %}
    <h2 id="{{ article[0] }}" class="ui dividing header">{{ article[1] }}</h2>
    <a class="ui fluid image fancybox" rel="fancybox" href="{{ article[0] }}.png" title="{{ article[1] }}">
      <img src="{{ article[0] }}.png" alt="{{ article[1] }}">
    </a>
    {% endfor %}

  </div>
</div>
