{% assign year_id = include.year_id %}
{% assign report = include.report %}
{% assign report_url = '/p/' | append: year_id %}
{% assign report_url = '/en/p/' | append: year_id %}
{% assign id = year | append: "_en" %}
{% assign more_text = '閱讀' %}
{% if lang == 'en' %}
  {% assign more_text = 'Read' %}
{% endif %}

<div class="item">
  <div class="image">
    <img src="{{ report.cover }}" alt="">
  </div>
  <div class="content">
    {% include _shared/link.html
      url=report_url
      class='header'
      title=report.title %}
    <div class="meta">
      <span></span>
    </div>
    <div class="description">
      <p>{{ report.description }}</p>
    </div>
    <div class="extra">
      {% include _shared/link.html
        url=report_url
        title=more_text
        icon='right arrow' %}
    </div>
  </div>
</div>

{% assign year_id = undefined %}
{% assign report = undefined %}
{% assign report_url = undefined %}
{% assign more_text = undefined %}
