{% if project.type_ids or project.topic_ids or project.field_ids %}

<div class="extra center aligned content">

{% for filter in site.data.plist.settings %}

  {% assign field_name = filter.id | append: '_ids' %}
  {% for id in project[field_name] %}

    {% assign item = filter.items | where: 'id', id  | first %}
    {% if item %}
      <a class="ui horizontal label" data-{{ filter.id }}="{{ item.id }}">
        {% if lang == 'en' %}
          {{ item.name_en }}
        {% else %}
          {{ item.name }}
        {% endif %}
      </a>
    {% endif %}
    {% assign item = undefined %}

  {% endfor %}
  {% assign field_name = undefined %}

{% endfor %}

</div>

{% endif %}
