---
layout: landing
og_title: Home
og_description: "OCF promotes open source, open data, and open government in Taiwan and nearby regions. Based in Taiwan."
css: en.css
lang: en

# 歷年成果檔名與排序
years:
  - 2023
  - 2022
  - 2021
  - 2020
  - 2019
  - 2018
  - 2017
  - 2016
---

<div id="en">

<section id="hero" class="ui inverted center aligned basic segment marginless">

  {% include nav/header/home.html %}

  <div class="ui hidden section divider"></div>
  <div class="ui stripe container">
    <h1 class="ui inverted header">
      <span class="sentence">Open Culture Foundation</span>
    </h1>
    <p>
    Open source, open data, and open government.
    </p>
  </div>
  <hr class="ui hidden section divider">
<div class="ui stripe container">
    <a class="ui huge teal button" href="https://ocf.neticrm.tw/civicrm/contribute/transact?reset=1&id=41">DONATE<i class="right arrow icon"></i></a>
  </div>
</section>

<section class="ui vertical segment">
  <div class="ui stripe container">
  <p>
    The Open Culture Foundation (OCF), is a nonpartisan, nonprofit  organization, founded in 2014 by several members of Taiwan’s open source community. Our main goal is to support local communities advocate the use of open technologies in broader sectors, including open source  software, open hardware, and open data. We help government, enterprises,  and NGOs better understand the benefits of adopting open source,and  promote the importance of open data to the public sphere. We believe  that a culture of open collaboration is the foundation for an innovative  society, and the engine of a participatory democracy. 
  </p>
  <p>
    Since its establishment, OCF has supported local communities to run large-scale conferences, seminars, and hackathons, as well as collaborate with a number of international offices and multilateral institutions to deepen Taiwan’s connection to the global open culture community.  Some of our past collaboration partners include the American Institute in Taiwan, British Office Taipei, Bureau Francais de Taipei, and the World Bank. OCF also has strong connections with the  global open source community, and regularly exchanges experiences with civic tech groups worldwide. Our mission is to build bridges between local and global “open” communities, and hope to act as a mediator for open culture. 

  </p>
  </div>
</section>

<section id="results" class="ui stripe container">

  <div class="ui divided items">
{% for year in page.years %}
  {% assign id = year | append: "_en" %}
  {% assign data = site.data.reports[id] %}
  <div class="item">
    <div class="image">
      <img src="{{ data.cover }}" alt="">
    </div>
    <div class="content">
      <a href="/en/p/{{ year }}" class="header">{{ data.title }}</a>
      <div class="meta">
        <span></span>
      </div>
      <div class="description">
        <p>{{ data.description }}</p>
      </div>
      <div class="extra">
        <a href="/en/p/{{ year }}">
          Read Report
          <i class="right arrow icon"></i>
        </a>
      </div>
    </div>
  </div>
{% endfor %}
  </div>

</section>


</div>
