body {
	font-family: 'Helvetica Neue', Helvetica, Arial, 'Heiti TC', 'Apple LiGothic Medium', 微軟正黑體, sans-serif;
}
.annual-report a {
  color: #0080FF;
}
.annual-report a:hover {
  border-bottom: 1px dashed #0080FF;
}
.annual-report .ui.items {
  margin: 10px;
}
.annual-report .ui.items>.item {
  display: table;
  table-layout: fixed;
}
.annual-report .ui.items>.item>.block,
.annual-report .ui.items>.item>.image,
.annual-report .ui.items>.item>.block.left,
.annual-report .ui.items>.item>.image.right 
{
  width: 50%;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}
.annual-report .ui.items>.item>.block,
.annual-report .ui.items>.item>.block.left
{
  text-align: center;
  padding: 40px;
}
.annual-report .ui.items>.item>.block.left {
  float: left;
}
.annual-report .ui.items>.item>.image.right {
  float: right;
}

.annual-title {
  min-height: 350px;
  display: table;
  table-layout: fixed;
  width: 100%;
  border-spacing: 10px 0;
  margin: 10px 0;
}
.annual-title .inner {
  display: table-cell;
  vertical-align: middle;
  background: #37AAB0;
  color: #FFF;
  margin: 10px;
  min-height: 350px;
  height: 350px;
}
.annual-title h1.header {
  font-size: 5em;
}
.annual-title h1.header,
.annual-title h2.header,
.annual-title .content {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}
.annual-title .content {
  font-size: 1.2em;
}
.annual-title .ui.horizontal.divider {
  max-width: 200px;
  margin: 0 auto;
}

.annual-menu {
  width: 100%;
  top:0;
  z-index: 999;
  display: table;
  border-spacing: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #AAA;
  background: #FFF;
}
.annual-menu .ui.segment{
  border-radius: 0 !important;
  padding: 0 50px;
}
.annual-menu .item {
  color: #BEE9E4 !important;
}
.annual-menu.desktop .menu{
  width: 700px;
  margin: 0 auto !important;
}
.annual-menu.fixed {
  position: fixed;
}
.annual-menu.mobile .ui.segment {
  padding: 0;
  text-align: center;
}
.annual-menu.mobile .ui.simple.dropdown {
  width: 100%;
  text-align: center;
}
.annual-menu.mobile .menu-top {
  font-size: 18px;
  padding: 5px 0;
}
.annual-menu.mobile .ui.simple.dropdown .menu{
  background: #1B1C1D;
  width: 100%;
  border-radius: 0 !important;
  font-size: 0.85em;
  display: none;
}

/* intro */
.annual-title.intro {
  height:680px;
  min-height:550px;
  background: url('https://c1.staticflickr.com/1/773/23616335231_c61b443f49_k.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  border-spacing: 0;
}
.annual-title.intro .inner {
  background: rgba(63, 76, 182, 0.57);
}
.annual-title.intro .inner .navicon {
  margin-top: 20px;
  text-align: center;
}

/* media query */
@media (max-width: 959px) {
  .annual-report .ui.items>.item {
    position: relative;
  }
  .annual-report .ui.items>.item>.block {
    width: 100%;
    display: block;
    font-size: 1.15em;
  }
  .annual-report .ui.items>.item>.image {
    width: 100%;
    vertical-align: middle;
    display: block;
  }
  .annual-report .ui.items>.item>.block.left,
  .annual-report .ui.items>.item>.image.right {
    float: none;
    width: 100%;
    display: block;
    font-size: 1.15em;
    margin-top: 0 !important;
  }
  
  .ui.items>.item>.image, .ui.items>.item>.image>img {
    max-height: 2000px !important;
    width: 100% !important;
  }

  .annual-title .inner{
    min-height: 150px;
  }
  .annual-title.intro {
    min-height: 150px;
  }
  .annual-title.intro .inner {
    padding: 20px;
  }
  .annual-title .content {
    font-size: 1.2em;
  }
  .annual-menu.desktop {
    display: none !important;
  }
}
/* mobile first */
@media (min-width: 960px) {
  .annual-title.intro {
    background-image: url('https://c1.staticflickr.com/1/773/23616335231_c61b443f49_k.jpg');
  }
  .annual-title.intro .inner .navicon {
    font-size: 25px;
  }
  .annual-menu.mobile {
    display: none !important;
  }
}
