{% if lang == "en" %}
  {% assign subscribe_title = 'Subscribe' %}
  {% assign join_title = 'Join' %}
{% else %}
  {% assign subscribe_title = '訂閱' %}
  {% assign join_title = '參與' %}
{% endif %}

<h3 class="ui small inverted header">
  {{ subscribe_title }}
</h3>
<div class="ui horizontal list inverted">
{% for item in org.subscribe %}
  {% include nav/links/item.html %}
{% endfor %}
</div>

<h3 class="ui small inverted header">
  {{ join_title }}
</h3>
<div class="ui horizontal inverted list">
{% for item in org.join %}
  {% include nav/links/item.html %}
{% endfor %}
</div>
