{% if lang == "en" %}
  {% assign subscribe_title = 'Subscribe' %}
  {% assign join_title = 'Join' %}
{% else %}
  {% assign subscribe_title = '訂閱' %}
  {% assign join_title = '參與' %}
{% endif %}

<h3>
  {{ subscribe_title }}
</h3>

<ul>
{% for item in org.subscribe %}
  <li>
  {% include nav/links/item.html style='horizontal' %}
  </li>
{% endfor %}
</ul>

<h3>
  {{ join_title }}
</h3>

<ul>
{% for item in org.join %}
  <li>
  {% include nav/links/item.html style='horizontal' %}
  </li>
{% endfor %}
</ul>
