---
redirect_from:
- /board
- /board/
- /partner
- /partner/
- /staff
- /staff/

layout: global
og_title: 工作夥伴
og_description: 很開心有這麼多熱血的志工夥伴和我們一起並肩前進。有哪些開源開放之友呢？快來認識他們！
og_slogan: 有哪些開源開放之友呢？快來認識他們！
css: people.css
---

<div id="people">
{% include _shared/kv.html title=page.og_title
  description=page.og_slogan
  image="/assets/images/about_KV.png" %}
  
<div class="ui center aligned stripe container">

  <div id="submenu" class="ui sticky">

    <nav data-context="desktop" class="ui pagination borderless menu">
      {% for type in site.data.people.settings %}
      {% for item in type[1] %}
      <a class="item" href="#{{ item.id }}">{{ item.name }}</a>
      {% endfor %}
      {% endfor %}
    </nav>

    <nav data-context="mobile" class="ui one item menu">
      <div class="ui dropdown item">
        <span data-content="current">跳至...</span>
        <i class="dropdown icon"></i>
        <div class="menu">
          {% for type in site.data.people.settings %}
          {% for item in type[1] %}
          <a class="item" href="#{{ item.id }}">{{ item.name }}</a>
          {% endfor %}
          {% endfor %}
        </div>
      </div>
    </nav>

  </div>

</div>

{% for item in site.data.people.settings.card %}
<section id="{{ item.id }}" class="page__container">
  <h2>{{ item.name }}</h2>
  <div class="page__grid">
    {% for person_id in site.data.people.relations[item.id] %}
    {% assign person = site.data.people.individuals[person_id] %}

    {% if person.avatar %}
    {% if person.nick %}
      {% assign anchor = person.nick %}
    {% else %}
      {% assign anchor = person.name %}
    {% endif %}
    <div id="{{ anchor }}" class="person">
      <div class="header page__grid">
        <div class="name page__flex ocf__text--primary">
          <div class="page__flex_spacer"></div>
          <h3>
            {{ person.name }} ({{ person.nick }})
          </h3>
          {% if person.name_en %}
            <p>{{ person.name_en }}</p>
          {% endif %}
        </div>
        <div class="image page__flex" style="background-image: url('{{ person.avatar }}');">
          <div class="page__flex_spacer"></div>
          {% if person.role %}
          <div class="title ocf__caption--small ocf__text--white">{{ person.role }}</div>
          {% endif %}
        </div>
      </div>
      {% endif %}

      <div class="page__spacer"></div>

      <p>{{ person.description }}</p>

      {% if person.link %}
      <div class="extra content">
        <div class="ui link divided list">
        {% for link in person.link %}
          {% include _shared/link.html link=link class='item' icon='conditional' %}
        {% endfor %}
        </div>
      </div>
      {% endif %}

    </div>
    {% endfor %}
  </div>
</section>
<div class="page__spacer--large"></div>
{% endfor %}

{% for item in site.data.people.settings.logo %}
<section id="{{ item.id }}" class="page__container">
  <h2>{{ item.name }}</h2>
  <div class="ui horizontal center aligned list">
    {% for org_id in site.data.people.relations[item.id] %}
    {% assign org = site.data.people.orgs[org_id] %}
    <a class="item" target="_blank" href="{{ org.link[0].url }}">
      <img class="logo" src="{{ org.logo }}" alt="{{ org.name }}" />
    </a>
    {% endfor %}
  </div>
</section>
{% endfor %}

{% for item in site.data.people.settings.label %}
<section id="{{ item.id }}" class="page__container">
  <h2>{{ item.name }}</h2>
  <div class="ui center aligned labels">
    {% for person in site.data.people.relations[item.id] %}
    <span class="ui label">{{ person }}</span>
    {% endfor %}
  </div>
</section>
{% endfor %}

</div>
