{% assign org = site.data.people.orgs.ocf %}

{% if lang == "en" %}
  {% assign subscribe_title = 'Subscribe' %}
  {% assign join_title = 'Join' %}
  {% assign license_title = 'License for our website' %}
  {% assign license_content = 'Source code: MIT / Content: Creative Commons' %}
{% else %}
  {% assign subscribe_title = '訂閱' %}
  {% assign join_title = '參與' %}
  {% assign license_title = '本站授權' %}
  {% assign license_content = '源碼 MIT / 內容 CC' %}
{% endif %}

<nav id="page__pusher">

  {% include nav/links/footer-sidebar.html %}

  <h4>
    {{ subscribe_title }}
  </h4>
  <ul>
    {% for item in org.subscribe %}
      {% if lang == 'en and item.title_en' %}
        {% assign item_title = item.title_en %}
      {% else %}
        {% assign item_title = item.title %}
      {% endif %}
      <li>
        {% include _shared/link.html url=item.url title=item_title icon=item.icon %}
      </li>
      {% assign item_title = undefined %}
    {% endfor %}
  </ul>

  <h4>
    {{ join_title }}
  </h4>
  <ul>
  {% for item in org.join %}
    {% if lang == 'en and item.title_en' %}
      {% assign item_title = item.title_en %}
    {% else %}
      {% assign item_title = item.title %}
    {% endif %}
    <li>
      {% include _shared/link.html url=item.url title=item_title icon=item.icon %}
    </li>
    {% assign item_title = undefined %}
  {% endfor %}
  </ul>

  <h4>
    {{ license_title }}
  </h4>
  <ul>
    <li>
      <a href="/about/#website">
        {{ license_content }}
      </a>
    </li>
  </ul>

</nav>

{% assign subscribe_title = undefined %}
{% assign join_title = undefined %}
{% assign license_title = undefined %}
{% assign license_content = undefined %}
{% assign org = undefined %}
