{% include _var/lang.html %}

{% if lang == "en" %}
  {% assign home_text = 'Home' %}
  {% assign home_url = '/en/' %}
{% else %}
  {% assign home_text = '首頁' %}
  {% assign home_url = '/' %}
{% endif %}

<ul>
  <li>
    {% assign item_class = '' %}
    {% if page.url == home_url %}
      {% assign item_class = 'active' %}
    {% endif %}

    {% include _shared/link.html url=home_url class=item_class title=home_text %}

    {% assign item_class = undefined %}
  </li>
  {% include nav/links/main.html %}
</ul>

{% assign home_text = undefined %}
{% assign home_url = undefined %}
