{% include _var/lang.html %}

{% assign org = site.data.people.orgs.ocf %}

{% if lang == "en" %}
  {% assign home_text = org.name_en %}
  {% assign home_url = '/en/' %}
{% else %}
  {% assign home_text = org.abbr %}
  {% assign home_url = '/' %}
{% endif %}

<a class="logo item" href="{{ home_url }}">
  <img class="ui logo image" src="{{ org.icon }}" alt="ocf logo">
  {{ home_text }}
</a>

<div class="right menu" data-display="desktop">
  {% include nav/links/main.html %}
</div>

<div class="right menu" data-display="mobile">
  <a class="item" data-toggle="sidebar">
    <i class="sidebar icon"></i>
  </a>
</div>

{% assign home_text = undefined %}
{% assign home_url = undefined %}
