<a class="icon item
{% if page.url == '/design/' %}
active
{% endif %}
" href="/design">
  <i class="icon paint brush"></i>
</a>
<div class="right menu">

{% for item in site.data.design.settings.menu %}
{% if item[0] != "design" %}
<a href="{{ item[1].url }}" class="item 
{% if page.url contains item[1].url %}
active
{% endif %}
" data-display="desktop">
{{ item[0] }}
</a>
{% endif %}
{% endfor %}

<a class="item" data-display="mobile" data-toggle="sidebar">
  <i class="sidebar icon"></i>
</a>

</div>
