{% assign year = page.year | append: "" %}

{% assign id = page.event_id %}

{% assign og_url = page.url %}

{% if page.og_title %}
  {% assign og_title = page.og_title %}
{% else %}
  {% if page.lang == 'en' %}
  {% assign og_title = site.data.events[year][id].title_en %}
  {% else %}
  {% assign og_title = site.data.events[year][id].title %}
  {% endif %}
{% endif %}

{% if page.og_image %}
  {% assign og_image = page.og_image %}
{% else %}
  {% assign og_image = site.data.events[year][id].cover %}
{% endif %}

{% if page.og_description %}
  {% assign og_description = page.og_description %}
{% else %}
  {% if page.lang == 'en' %}
  {% assign og_description = site.data.events[year][id].description_en %}
  {% else %}
  {% assign og_description = site.data.events[year][id].description %}
  {% endif %}
{% endif %}
