<div class="ui divided items">

{% if page.year == "current" %}
{% assign project_year = site.data.settings.current %}
{% else %}
{% assign project_year = page.year %}
{% endif %}

<!-- 新版資料格式：從各年份的 yml 抓資料，只抓 2017 （含）以後的 -->

{% for list in site.data.events %}
{% if list[0] contains "20" %}
{% if list[0] > "2016" %}

{% for event in list[1] reversed %}
{% for pid in event[1].project_id %}
{% if pid == project_id %}

  {% assign type = "event" %}
  {% assign item = event[1] %}
  {% include events_item.html %}

{% endif %}
{% endfor %}
{% endfor %}

{% endif %}
{% endif %}
{% endfor %}

<!-- 舊版資料格式：從各專案的 yml 抓資料 -->

{% for event in events %}

{% if event.year > project_year %}
{% else %}

  {% assign year = event.year | append: "" %}

  {% if event.event_id %}
  {% assign type = "event" %}
  {% assign event_id = event.event_id %}
  {% assign item = site.data.events[year][event_id] %}

  {% elsif event.project_id %}
  {% assign type = "project" %}
  {% assign project_id = event.project_id %}
  {% assign item = site.data.projects[year][project_id] %}

  {% else %}
  {% assign type = "event" %}
  {% assign item = event %}

  {% endif %}

  {% include events_item.html %}

{% endif %}
{% endfor %}
</div>
