
<footer id="footer" class="ui inverted basic segment marginless">

  <div class="ui stripe container">

    <h2 class="ui inverted small center aligned header">
      <img src="{{ site.data.people.orgs.ocf.icon }}" alt="" />
      <div class="content">
        {% if page.lang == "en" %}
        {{ site.data.people.orgs.ocf.name_en }}
        {% else %}
        {{ site.data.people.orgs.ocf.name }}
          <div class="sub header">
          {{ site.data.people.orgs.ocf.name_en }}
          </div>
        {% endif %}
      </div>
    </h2>

    <hr class="ui divider" />

    <div class="ui four column stackable grid">

      <div class="column">

        <p>
        {% if page.lang == "en" %}
        {{ site.data.people.orgs.ocf.description_en }}
        {% else %}
        {{ site.data.people.orgs.ocf.description }}
        {% endif %}
        </p>
        <div class="ui inverted list">
          <a class="item" href="{{ site.data.people.orgs.ocf.link[0].url }}">
            <i class="globe icon"></i>
            <div class="content">
            {{ site.data.people.orgs.ocf.link[0].url }}
            </div>
          </a>
          <a class="item">
            <i class="mail icon"></i>
            <div class="content">
            {{ site.data.people.orgs.ocf.contact.email.general }}
            </div>
          </a>
        </div>

        <div class="ui inverted list">
          <div class="item">
            {% if page.lang == "en" %}
            Tax No.: 38552170
            {% else %}
            統一編號　38552170
            {% endif %}
          </div>
          <div class="item">
            {% if page.lang == "en" %}
            Invoice donation code: 1989
            {% else %}
            愛心碼　1989
            {% endif %}
          </div>
          <div class="item">
            {% if page.lang == "en" %}
            Fund raising No.: 1051364508
            {% else %}
            勸募字號　衛部救字第 1051364508 號
            {% endif %}
          </div>
        </div>

      </div>

      <div class="column">

        <h3 class="ui inverted small header">
        {% if page.lang == "en" %}
        Taipei Office
        {% else %}
        台北辦公室
        {% endif %}
        </h3>
        <div class="ui list inverted">
          <div class="item">
          {% if page.lang == "en" %}
          {{ site.data.people.orgs.ocf.contact.address_en.taipei }}
          {% else %}
          {{ site.data.people.orgs.ocf.contact.address.taipei }}
          {% endif %}
          </div>
        </div>

        <h3 class="ui inverted small header">
        {% if page.lang == "en" %}
        Taoyuan Office
        {% else %}
        桃園辦公室
        {% endif %}
        </h3>
        <div class="ui list inverted">
          <div class="item">
          {% if page.lang == "en" %}
          {{ site.data.people.orgs.ocf.contact.address_en.taoyuan }}
          {% else %}
          {{ site.data.people.orgs.ocf.contact.address.taoyuan }}
          {% endif %}
          </div>
          <div class="item">
            <i class="phone icon"></i>
            <div class="content">
            {{ site.data.people.orgs.ocf.contact.tel.taoyuan }}
            </div>
          </div>
          <div class="item">
            <i class="fax icon"></i>
            <div class="content">
            {{ site.data.people.orgs.ocf.contact.fax.taoyuan }}
            </div>
          </div>
        </div>

      </div>

      <div class="column">

        <h3 class="ui small inverted header">
        {% if page.lang == "en" %}
        Subscribe
        {% else %}
        訂閱
        {% endif %}
        </h3>
        <div class="ui horizontal list inverted">
        {% include menu_subscribe.html %}
        </div>

        <h3 class="ui small inverted header">
        {% if page.lang == "en" %}
        Join
        {% else %}
        參與
        {% endif %}
        </h3>
        <div class="ui horizontal inverted list">
        {% include menu_join.html %}
        </div>

      </div>

      <div class="column">

        <h3 class="ui small inverted header">
        {% if page.lang == "en" %}
        Sitemap
        {% else %}
        網站導覽
        {% endif %}
        </h3>
        <div class="ui inverted divided link list">
        {% include menu.html %}
        </div>

        <h3 class="ui small inverted header">
        {% if page.lang == "en" %}
        License / Privacy Policy
        {% else %}
        本站授權與隱私條款
        {% endif %}
        </h3>
        <div class="ui inverted divided link list">
          <a href="/about/#website" class="item">
          {% if page.lang == "en" %}
          Source code: MIT / Content: Creative Commons
          {% else %}
          源碼 MIT / 內容 CC
          {% endif %}
          </a>
        </div>
         <div class="ui inverted divided link list">
          <a href="https://github.com/ocftw/v1.ocf.tw/blob/gh-pages/PRIVACY.md" class="item">
          {% if page.lang == "en" %}
          Privacy Policy
          {% else %}
          隱私權條款聲明
          {% endif %}
          </a>
        </div>

      </div>

    </div>

  </div>

</footer>
