{% if page.lang == "en" %}
<a href="http://ocf.tw" class="item">Home</a>
<a href="http://ocf.tw/#whoweare" class="item">
About
</a>
<a href="http://ocf.tw/staff/" class="item">
Staff
</a>
<a href="http://ocf.tw/donate/" class="item">
Donate
</a>
<a href="http://ocf.tw/partner/" class="item">
Events
</a>
<a href="http://ocf.tw/activities/" class="item">
Activities
</a>
{% else %}
<a href="http://ocf.tw" class="item">首頁</a>

<a href="http://ocf.tw/#whoweare" class="item">
認識我們
</a>
<a href="http://ocf.tw/staff/" class="item">
工作夥伴
</a>
<a href="http://ocf.tw/donate/" class="item">
線上捐款
</a>
<a href="http://ocf.tw/partner/" class="item">
協力社群成果
</a>
<a href="http://ocf.tw/activities/" class="item">
活動記錄
</a>
{% endif %}
