<a class="logo item" href="/">
  <img class="ui logo image" src="{{ site.data.people.orgs.ocf.icon }}" alt="">
  {% if page.lang == "en" %}
  {{ site.data.people.orgs.ocf.name_en }}
  {% else %}
  {{ site.data.people.orgs.ocf.abbr }}
  {% endif %}
</a>
      
<div class="right menu">

  {% if page.lang == "en" %}
  {% assign menu_settings = site.data.settings.menu_en %}
  {% else %}
  {% assign menu_settings = site.data.settings.menu %}
  {% endif %}

{% for item in menu_settings %}
  <a href="{{ item.url }}" class="item 
  {% if page.url contains item.url %}
  active
  {% endif %}
  " data-display="desktop">

  {% if page.lang == "en" %}
  {{ item.title_en }}
  {% else %}
  {{ item.title }}
  {% endif %}

  </a>
{% endfor %}

<a href="/en/" class="item
{% if page.url contains '/en/' %}
active
{% endif %}
" data-display="desktop">En</a>

<a class="item" data-display="mobile" data-toggle="sidebar">
  <i class="sidebar icon"></i>
</a>

</div>
