<a href="/" class="item">
{% if page.lang == "en" %}
Home
{% else %}
首頁
{% endif %}
</a>

{% if page.lang == "en" %}
{% assign menu_settings = site.data.settings.menu_en %}
{% else %}
{% assign menu_settings = site.data.settings.menu %}
{% endif %}

{% for item in menu_settings %}
<a href="{{ item.url }}" class="item 
{% if page.url contains item.url %}
active
{% endif %}
">
{{ item.title }}
</a>
{% endfor %}

<a href="/en/" class="item 
{% if page.url contains '/en/' %}
active
{% endif %}
">En</a>
