{% include menu.html %}
<div class="item">
  {% if page.lang == "en" %}
  Subscribe
  {% else %}
  訂閱
  {% endif %}
  <div class="menu">
  {% include subscribe.html %}
  </div>
</div>
<div class="item">
  {% if page.lang == "en" %}
  Join
  {% else %}
  參與
  {% endif %}
  <div class="menu">
  {% include join.html %}
  </div>
</div>
<div class="item">
  {% if page.lang == "en" %}
  License for our website
  {% else %}
  本站授權
  {% endif %}
  <div class="menu">
    <a href="/about/#website" class="item">
    {% if page.lang == "en" %}
    Source code: MIT / Content: Creative Commons
    {% else %}
    源碼 MIT / 內容 CC
    {% endif %}
    </a>
  </div>
</div>


