---
layout: design
data: data
head: css-fancybox.html
script: script-fancybox.html
css: /assets/design.css
js: /assets/fancybox.js
toc:
  homepage: 首頁
  about: 關於我們
  people: 工作夥伴
  projects: 專案與成果
  report: 年度成果報告
  project: 個別專案頁面
  event: 個別活動頁面
  mediakit: 媒體專區
  news: 電子報
---

<div class="ui two column stackable grid">

  <div id="toc" data-context="desktop" class="six wide column">
    <nav class="ui secondary sticky vertical pointing fluid menu">

      {% for article in page.toc %}
      <a href="#{{ article[0] }}" class="item">{{ article[1] }}</a>
      {% endfor %}

    </nav>
  </div>

  <div class="ten wide column">

    {% for article in page.toc %}
    <h2 id="{{ article[0] }}" class="ui dividing header">{{ article[1] }}</h2>
    <a class="ui fluid image fancybox" rel="fancybox" href="{{ article[0] }}.png" title="{{ article[1] }}">
      <img src="{{ article[0] }}.png" alt="{{ article[1] }}">
    </a>
    {% endfor %}

  </div>
</div>
