---
layout: design
og_title: 跨頁 data 總覽
og_description: 這頁是 OCF.tw 官網改版 2016 年度結案交接文件之一，對照 sitemap 和 _data 資料夾，圖解呈現各頁面的資料關連，讓接手維護的人在修改程式架構時，可以較方便地評估可能的影響範圍。
css: /assets/design.css
toc:
  homepage: 首頁
  about: 關於我們
  people: 工作夥伴
  projects: 專案與成果
  report: 年度成果報告
  project: 個別專案頁面
  mediakit: 媒體專區
  news: 電子報
---

<main id="data">

<section class="ui stripe center aligned container">

  <h1 class="ui icon header">
    <i class="icon database circular inverted pink"></i>
    {{ page.og_title }}
  </h1>
  <p>{{ page.og_description }}</p>

  <nav id="submenu" data-context="mobile" class="ui sticky one item menu">
    <div class="ui dropdown item">
      <span data-content="current">跳至...</span>
      <i class="dropdown icon"></i>
      <div class="menu">

        {% for article in page.toc %}
        <a href="#{{ article[0] }}" class="item">{{ article[1] }}</a>
        {% endfor %}

      </div>
    </div>
  </nav>

</section>

<section class="ui stripe container">

  <div class="ui two column stackable grid">

    <div id="toc" data-context="desktop" class="six wide column">
      <nav class="ui secondary sticky vertical pointing fluid menu">

        {% for article in page.toc %}
        <a href="#{{ article[0] }}" class="item">{{ article[1] }}</a>
        {% endfor %}

      </nav>
    </div>

    <div class="ten wide column">

      {% for article in page.toc %}
      <h2 id="{{ article[0] }}" class="ui dividing header">{{ article[1] }}</h2>

      <figure class="ui fluid image">
        <img src="{{ article[0] }}.png">
      </figure>
      {% endfor %}

    </div>
  </div>

</section>

<hr class="ui hidden divider" />
</main>
