---
layout: event
year: 2019
project_id: gdghualien
event_id: 1116gdghldf
color: teal
veil_opacity:

summary:
  - 由花蓮 Google 開發者社群 (GDG Hualien)、女性資訊技術從業人員社群 (Women Techmakers) 共同舉辦。
  - 做為花蓮年度盛大的 Google 技術社群研討會，我們希望能在輕鬆的環境下讓您盡情瞭解我們所做的經驗分享！

agenda:
  - time: 08:30 - 09:00
    title: 報到 / Registration
  - time: 09:20 - 09:30
    title: 開場 / Opening
    speaker: 魏澤人
  - time: 09:30 - 10:00
    title: 以 Ktor 打造 API 應用
    speaker: 范聖佑 Shengyou Fan
  - time: 10:00 - 10:10
    title: Break
  - time: 10:10 - 10:40
    title: APP Girls創辦人教你如何跨越程式高牆 - admob google廣告串接與開發經驗和自學經驗分享
    speaker: 鄭雅方
  - time: 10:40 - 10:50
    title: Break
  - time: 10:50 - 11:20
    title: Blockchain on BigQuery： 我與 Google Public Datasets 戰鬥的故事
    speaker: Bob Lee
  - time: 11:20 - 11:30
    title: Break
  - time: 11:30 - 12:00
    title: Kotlin overview
    speaker: Takkuma Lee
  - time: 12:00 - 13:00
    title: 午餐 / Lunch Break
  - time: 13:00 - 13:30
    title: 女性開發者經驗分享
    speaker: Smile Chao / Bob Lee / 鄭雅方
  - time: 13:30 - 13:40
    title: Break
  - time: 13:40 - 14:10
    title: Tensorflow 2.0
    speaker: 魏澤人
  - time: 14:40 - 15:30
    title: 工作坊1
    subtitle: 程式麻瓜也能玩聊天機器人，免程式，使用 Dialogflow 建置 Google 語音助理動作 (Google Assistant Action)
    speaker: 林建宏 Wolke Lin
  - time: 15:30 - 15:40
    title: Tea Break
  - time: 15:40 - 16:40
    title: 工作坊2
    subtitle: 實作 Google Cloud Run 作為 dialogflow webhook
    speaker: 林建宏 Wolke Lin
  - time: 16:40 - 17:00
    title: 閉幕 / Closing Ceremony

speakers:
  - name: 魏澤人
    title: ML GDE / 交大 AI 學院副教授
    avatar: 
    description:
    specialty:
    experience:
    education:
  - name: 范聖佑 Shengyou Fan
    title: JetBrains Developer Advocate
    avatar: 
    description:
      JetBrains 技術傳教士，負責推廣 IntelliJ IDEA 系列 IDE 及 YouTrack、TeamCity、Upsource 等團隊合作解決方案，協助開發者善用工具輔助來提升生產力，同時維護程式碼品質。工作之餘也熱血經營技術社群，常在各社群及研討會裡出沒，歡迎拍打餵食。
  - name: 鄭雅方
    title: App Girls 創辦人
  - name: Bob Lee
    title: Software Engineer, Decore
  - name: Takkuma Lee
    title: Android Engineer
    description:
      喜歡技術與研究，專門挖坑順便推人下坑然後自己無法補完坑；專注於 Android application 開發，目前研究學習開發 Flutter 與 iOS 中。
  - name: Smile Chao
    title: consultant + Digi maker
  - name: 林建宏 Wolke Lin
    title: Assistant GDE / LAE / Voice app studio 創辦人
    avatar: 
    description:
     台灣 9 位 LAE (LINE API EXPERT)之一 亞太 4 位 Assistant GDE(Google Developer Expert) 之一 voice app studio 創辦人 http://facebook.com/voiceappstudio/ 軟體工程系統開發，技術文件寫作, 教育訓練，喜好研究程式語言、框架、社群，從中學習設計，目前以node.js 開發前後台及智能語音應用/聊天機器人為主。

---

{% assign year = page.year | append: "" %}
{% assign event_id = page.event_id | append: "" %}
{% assign event = site.data.events[year][event_id] %}

{% include_relative intro.html %}
<div class="ui horizontal divider">
  <i class="icon announcement"></i>
</div>

{% include event_speakers.html %}
<div class="ui horizontal divider">
  <i class="icon announcement"></i>
</div>

{% include event_agenda.html %}
<div class="ui horizontal divider">
  <i class="icon announcement"></i>
</div>

{% include event_orgs.html %}
<div class="ui horizontal divider">
  <i class="icon announcement"></i>
</div>

<h2 class="ui header">報名本活動</h2>
<iframe class="kktix" src="https://gdghualien.kktix.cc/events/devfest2019" frameborder="0" height="420" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>


