---
layout: design
data: actions
footer: _plugins/tablesort.html
js: /assets/scripts/actions.js
---

<table class="ui sortable table">
  <thead>
  <tr>
    <th class="four wide">url</th>
    <th class="five wide">title</th>
    <th class="three wide">links</th>
    <th class="four wide">actions</th>
  </tr>
  </thead>
  <tbody>
  {% assign pages = site.pages | where: "layout", "project" %}
  {% for p in pages %}
  <tr class="top aligned" data-url="{{ p.url }}">
    <td>
    <pre>{{ p.url }}</pre>
    </td>
    <td data-value="title">
    </td>
    <td data-value="links">
    {% assign year = p.year | append: "" %}
    {% assign project_id = p.project_id | append: "" %}
    {% assign project = site.data.projects[year][project_id] %}
    {% for link in project.link %}
      {% include _shared/link.html link=link class='item' icon='conditional' %}
    {% endfor %}
    </td>
    <td data-value="actions">
    {% for action in p.action %}
      {% if action.url %}
      <p>
        <a class="ui {{ action.color }} tiny fluid button" href="{{ action.url }}" target="_blank">
          <i class="{{action.icon}} icon"></i>
          {{ action.title }}
        </a>
      </p>
      {% else %}
      <p>{{ action.title }}</p>
      {% endif %}
    {% endfor %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
