{% assign year = page.year | append: '' %}

{% if page.lang == "en" %}
  {% assign report_id = year | append: '_' | append: page.lang %}
{% else %}
  {% assign report_id = year %}
{% endif %}

{% include _var/p.html %}

{% if project %}
{% assign report = site.data.p[ project_id ][ report_id ] %}
{% else %}
{% assign report = site.data.reports[ report_id ] %}
{% endif %}

{% assign og_url = page.url %}

{% if page.og_title %}
  {% assign og_title = page.og_title %}
{% else %}
  {% assign og_title = report.title %}
{% endif %}

{% if page.og_image %}
  {% assign og_image = page.og_image %}
{% else %}
  {% assign og_image = report.cover %}
{% endif %}

{% if page.og_description %}
  {% assign og_description = page.og_description %}
{% else %}
  {% assign og_description = report.description %}
{% endif %}
