{% assign year = page.year | append: '' %}

{% if page.lang == "en" %}
  {% assign report_id = year | append: '_' | append: page.lang %}
{% else %}
  {% assign report_id = year %}
{% endif %}

{% include _var/p.html %}

{% if project %}
{% assign report = site.data.p[ project_id ][ report_id ] %}
{% else %}
{% assign report = site.data.reports[ report_id ] %}
{% endif %}

{% assign og_url = page.url %}
{% assign og_title = report.title %}
{% assign og_image = report.cover %}
{% assign og_description = report.description %}
