---
layout: design
data: design
---

{% assign planner = "redirect,actions" | split: "," %}
{% assign editor = "og,content" | split: "," %}
{% assign programmer = "redirect,layout,data" | split: "," %}
{% assign designer = "ui" | split: "," %}

<div class="ui four column doubling stackable grid">
  <div class="column">
    <h2 class="ui small icon center aligned header inverted">
      <i class="icon suitcase"></i>
      給網站企畫
    </h2>
    <div class="ui list">
      {% for menu_id in planner %}
      {% assign item = site.data.design.settings.menu[menu_id] %}
      <div class="item">
        <i class="icon {{ item.icon }} "></i>
        <div class="content">
          <a class="header" href="{{ item.url }}">{{ item.title }}</a>
          <div class="description">{{ item.tagline }}
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="item">
        <i class="icon file powerpoint outline"></i>
        <div class="content">
          <a class="header" href="https://docs.google.com/presentation/d/1fc5d9jjqp5Jfwx-a4mGl0DIdo0sHFBFupYH1LQJ6N0w/edit?usp=sharing" target="_blank">
          OCF.tw UX Report
          </a>
          <div class="description">
          追溯前期 UX 規劃脈絡
          </div>
        </div>
      </div>
      <div class="item">
        <i class="icon file text outline"></i>
        <div class="content">
          <a class="header" href="https://ocf-tw.hackpad.com/-2016-OCF-Redesign-V61pfKwwlRN" target="_blank">
          OCF 官網改版專案共筆
          </a>
          <div class="description">
          追溯網站開發過程
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <h2 class="ui small icon center aligned header inverted">
      <i class="icon pencil"></i>
      給網站內容編輯
    </h2>
    <div class="ui list">
      {% for menu_id in editor %}
      {% assign item = site.data.design.settings.menu[menu_id] %}
      <div class="item">
        <i class="icon {{ item.icon }} "></i>
        <div class="content">
          <a class="header" href="{{ item.url }}">{{ item.title }}</a>
          <div class="description">{{ item.tagline }}
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="item">
        <i class="icon github"></i>
        <div class="content">
          <a class="header" href="https://github.com/ocftw/beta.ocf.tw/blob/gh-pages/README.md" target="_blank">
          GitHub repo 編輯指南
          </a>
          <div class="description">step by step 新增專案、活動、工作夥伴、年度報告等
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <h2 class="ui small icon center aligned header inverted">
      <i class="icon code"></i>
      給網站工程師
    </h2>
    <div class="ui list">
      {% for menu_id in programmer %}
      {% assign item = site.data.design.settings.menu[menu_id] %}
      <div class="item">
        <i class="icon {{ item.icon }} "></i>
        <div class="content">
          <a class="header" href="{{ item.url }}">{{ item.title }}</a>
          <div class="description">{{ item.tagline }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="column">
    <h2 class="ui small icon center aligned header inverted">
      <i class="icon paint brush"></i>
      給網站介面設計師
    </h2>
    <div class="ui list">
      {% for menu_id in designer %}
      {% assign item = site.data.design.settings.menu[menu_id] %}
      <div class="item">
        <i class="icon {{ item.icon }} "></i>
        <div class="content">
          <a class="header" href="{{ item.url }}">{{ item.title }}</a>
          <div class="description">{{ item.tagline }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
