html, body {
  font-size: 18px;
}

html, body, h1, h2, h3, h4, h5, h6, button {
  font-family: Lato, Noto sans, "Helvetica Neue" ,Arial,Helvetica, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
}

.ui.marginless.segment {
  margin: 0;
}

.ui.stripe.container {
  margin: 2rem 0;
}

.floated.left {
  float: left;
}

.floated.right {
  float: right;
}

.left.aligned {
  text-align: left;
}

.right.aligned {
  text-align: right;
}

.vertical.padding {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.horizontal.padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* for semantic ui sidebar on ios */
html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
  height: initial !important;
}


.ui.menu .item.toggle.sidebar {
  display: none;
}

@media only screen and (max-width: 767px) {

.ui.menu .desktop.item {
  display: none;
}

.ui.menu .item.toggle.sidebar {
  display: block;
}

}





#header {
  background-color: #333;
  background: url(/img/header.png) repeat 0 0;
}

#header .ui.menu .item>img {
  margin: 0;
}

#header .ui.inverted.menu {
  background: url(/img/header-shell.png) no-repeat center 0;
}

#footer .footer {
  background: url(/img/footer.png) repeat 0 0;
  padding: 0;
  margin-top: 1rem;
}

#footer .wrapper {
  background: url(/img/footer-shell.png) repeat 0 0;
  padding-bottom: 2rem;
}

