html, body {
  font-size: 18px;
}

html, body, h1, h2, h3, h4, h5, h6, button {
  font-family: Lato, Noto sans, "Helvetica Neue" ,Arial,Helvetica, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
}

.ui.stripe.container {
  margin: 2rem 0;
}

.ui.grid .float.column.left {
  float: left;
}

.ui.grid .float.column.right {
  float: right;
}

.vertical.padding {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.horizontal.padding {
  padding-left: 1rem;
  padding-right: 1rem;
}


#header {
  background-color: #333;
  background: url(/img/header.png) repeat 0 0;
}

#header .ui.menu .item>img {
  margin: 0;
}

#header .ui.inverted.menu {
  background: url(/img/header-shell.png) no-repeat center 0;
}

#footer .footer {
  background: url(/img/footer.png) repeat 0 0;
  padding: 0;
  margin-top: 1rem;
}

#footer .wrapper {
  background: url(/img/footer-shell.png) repeat 0 0;
  padding-bottom: 2rem;
}

