html, body {
  font-size: 18px;
}

html, body, h1, h2, h3, h4, h5, h6, button {
  font-family: Lato, Noto sans, "Helvetica Neue" ,Arial,Helvetica, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
}

.ui.marginless.segment {
  margin: 0;
}

.ui.paddingless.segment {
  padding: 0;
}

.ui.stripe.container {
  margin: 2rem 0;
}

.floated.left {
  float: left;
}

.floated.right {
  float: right;
}

.left.aligned {
  text-align: left;
}

.right.aligned {
  text-align: right;
}

.vertical.padding {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.horizontal.padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* for header */

#header .ui.secondary.pointing.menu {
  border: none;
}

#header {
  background-color: #333;
  background: url(/img/header-shell.png) repeat center 0;
}

#header .ui.menu .logo.item {
  padding: 0.5em 1em 0.5em 0;
}

#header .ui.menu .logo.image {
  margin: 0;
  height: 1.5em;
}

/* for semantic ui sidebar */

.ui.menu .item.toggle.sidebar {
  display: none;
}

@media only screen and (max-width: 767px) {

.ui.menu .desktop.item {
  display: none;
}

.ui.menu .item.toggle.sidebar {
  display: block;
}

}

/* for semantic ui sidebar on ios */

html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
  height: initial !important;
}

/* for footer */

#footer {
  background: url(/img/footer.png) repeat 0 0;
}

#footer .ui.grid.container, #footer .ui.list>.item {
  font-size: 0.8rem;
}

/* for semantic ui list in footer */

#footer .ui.horizontal.list>.item {
  margin-left: 0;
  margin-right: 1em;
}

#footer .ui.horizontal.list>.item:last-child {
  margin-right: 0;
}

