
#hero {
  background-color: #333;
  /*
  background: url(/img/cover.png) no-repeat center center;
  */
  background-clip: border-box;
  margin: 0;
}

#hero .ui.secondary.pointing.borderless.menu {
  border: none;
}

#hero .ui.menu .logo.item {
  padding: 0;
}

#hero .ui.menu .logo.image {
  height: 2.5rem;
}

.sentence {
  display: inline-block;
  margin: 0 0.5em;
}

cite {
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.5em;
  opacity: 0.5;
  display: inline-block;
}

cite:hover {
  opacity: 1;
}

#what_they_say .slick .small.container {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
}

.ui.reference.image {
  width: 5rem;
  height: 5rem;
  display: inline-block;
}

.blockquote {
  position: relative;
  display: inline-block;
}

.blockquote:before, .blockquote:after {
  opacity: 0.5;
  position: absolute;
  top: 0;
  font-family: Icons;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  width: 1em;
  height: 1em;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  speak: none;
}

.blockquote:before {
  content: "\f10d";
  left: -1.5em;
}

.blockquote:after {
  content: "\f10e";
  right: -1.5em;
}

@media only screen and (max-width: 767px) {

#what_we_do .ui.stackable.grid, #what_is_happening .ui.stackable.grid {
    width: auto;
    margin-left: -1em!important;
    margin-right: -1em!important;
    margin-top: 0;
    margin-bottom: 0;
}

h2.ui.header {
  text-align: center;
}

}

