#people .ui.cards>.card .image {
  text-align: center;
  padding: 1rem;
  line-height: 0;
}

#people .ui.cards>.card .avatar.image img {
  width: 5rem;
  height: 5rem;
  display: inline-block;
}

#people .ui.cards>.card .header .small {
  font-size: 0.8em;
}

#people .ui.cards>.card .logo.image {
  background: none;
  height: 7rem;
}

#people .ui.cards>.card>.logo.image>img {
  max-height: 5rem; 
  max-width: 100%;
  width: auto;
  display: inline-block;
  border-radius: 0;
}

.ui[class*="bottom pointing"].label, .ui[class*="pointing below"].label {
  margin-bottom: 1.5em;
}