#project #hero {
  overflow: hidden;
}
#project #hero .cover {
  object-fit: cover;
  object-position: center;
  width: 100%;
  min-height: 100%;
  position: absolute;
  opacity: 0.3;
  background-color: #000;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
#project #hero .cover.image {
  opacity: 0.98;
}
#project .relative {
  position: relative;
}

#project .items .item .ui.horizontal.labels .label{
  margin-bottom: .5em;
}

