#report #hero {
  overflow: hidden;
}

#report #hero .cover,
#report .title .cover {
  min-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.3;
  background-color: #000;
}
#report .og-banner {
  max-width:100%;
  opacity: 1;
}

#report .image_header .action {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  width: 100%;
}

#report #hero .cover.image,
#report .title .cover.image {
  opacity: 0.9;
}

#report #hero .circular.icon {
  box-shadow: 0 0 0 .1em rgba(255,255,255,0.6) inset;
}

#report .relative {
  position: relative;
}

#report header.ui.segment .bordered.icon {
  box-shadow: 0 0 0 .1em rgba(255,255,255,.5) inset;
  font-size: 3rem;
}


#report .flex-swap {
  order: 3;
}

#report section.ui.grid>.column:not(.row) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#report section.ui.column.grid .column {
  padding: 0;
}

#report section.ui.column.grid {
  margin: 0;
}

#report section.ui.column.grid .column>.ui.image {
  object-fit: cover;
}

#report section.ui.column.grid .column>iframe {
  width: 100%;
  border: none;
  padding: 2rem 0;
}

#report section.ui.column.grid .column[data-type="collage"] .ui.grid {
  margin: 0;
}
#report section.ui.column.grid .column[data-type="collage"] .image {
  padding-top: 100%;
  height: auto;
  overflow: hidden;
}
#report section.ui.column.grid .column[data-type="collage"] .image img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  min-width: 100%;
}
#report section.ui.column.grid .column[data-type="collage"] .image>.ui.label {
  background-color: rgba(0,0,0,0.3);
}

@media only screen and (max-width: 767px) {

#report .ui.stackable.grid>.column:not(.row) {
  padding: 0!important;
}

#report .flex-swap {
  order: 0;
}

#report header.ui.segment .bordered.icon {
  margin-bottom: 2rem;
}

}

@media only screen and (max-width: 640px) {

#report header.ui.segment {
  padding-left: 0;
  padding-right: 0;
}

}

@media only screen and (min-width: 768px) {

#report section.ui.column.grid .column>.ui.image {
  min-height: 100%;
}

}

@media only screen and (min-width: 1024px) {

#report .ui.container {
  padding-left: 2rem;
  padding-right: 2rem;
}
}
