#report #hero {
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}

#report #hero .cover {
  object-fit: cover;
  object-position: center;
  width: 100%;
  min-height: 100%;
  position: absolute;
  opacity: 0.3;
  background-color: #000;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

#report #hero .cover.image {
  opacity: 0.9;
}

#report #hero .circular.icon {
  box-shadow: 0 0 0 .1em rgba(255,255,255,0.6) inset;
}

#report .relative {
  position: relative;
}

#report .ui.segment h2.ui.header {
  margin-top: 1rem;
}

#report .ui.inverted.header .bordered.icon {
  box-shadow: 0 0 0 .1em rgba(255,255,255,.5) inset;
}

#report .flex-swap {
  order: 3;
}

#report .ui.grid>.column:not(.row) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#report .ui.column.grid .column {
  padding: 0;
}

#report .ui.column.grid {
  margin: 0;
}

#report .ui.two.column.grid .column>.ui.image {
  object-fit: cover;
  min-height: 100%;
}

@media only screen and (max-width: 767px) {

#report .ui.stackable.grid>.column:not(.row) {
  padding: 0!important;
}

#report .flex-swap {
  order: 0;
}


}