#en #hero {
  background-color: #333;
  background-image: url(/assets/images/web_homepage_elements_homepage_KV.png);
  background-repeat: no-repeat;
  background-position: center 100%;
  background-size: cover;
  margin: 0;
  height: 100vh;
}

@media only screen and (max-width: 767px) {
  #homepage #hero {
    height: 40vh;
  }
}

#en #header {
  background-color: none;
  background: none;
}

#en #header .ui.menu .logo.item {
  margin: -0.85714286em -1.14285714em;
}

#en #header .ui.menu .logo.image {
  height: 2.5rem;
}

#en .sentence {
  display: inline-block;
  margin: 0 0.5em;
}

#en cite {
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.5em;
  opacity: 0.5;
  display: block;
}

#en cite:hover {
  opacity: 1;
}

/* for reports */

#en #results .ui.items>.item>.image>img {
  object-fit: cover;
  min-height: 100%;
}