#freestyle #hero .ui.header > .icon {
  font-size: 1em;
  vertical-align: initial;
}

#freestyle #hero {
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}

#freestyle #hero .cover {
  object-fit: cover;
  object-position: center;
  width: 100%;
  min-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

#freestyle #hero .cover.image {
  opacity: 0.9;
}

#freestyle #hero .cover.veil {
  opacity: 0.2;
  background-color: #000;
}

#freestyle .relative {
  position: relative;
}

#freestyle #content {
  width: 80%;
  min-width: 768px;
  margin: 0 auto;
}
