@import "global/variables.css";
@import "global/theme.css";
@import "global/layouts.css";
@import "global/topbar.css";
@import "global/legacy2016.css";

html {
  font-size: 16px;
}

body {
  margin: 0;
  /* in design guide: body 2 14px */
  font-family: "Roboto", "Chiron Hei HK", "微軟正黑體", "Microsoft JhengHei",
    sans-serif;
  font-size: 0.875rem;
  /* in design guide: body 1 */
  font-weight: 400;
  color: var(--ocf-dark);
}
