#project .project__body {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-gap: 4rem;
  align-items: flex-start;
}

@media only screen and (768px <= width < 1024px) {
  #project .project__body {
    grid-gap: 2rem;
  }
}

@media only screen and (width < 768px) {
  #project .project__body {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
}

#project .meta__section {
  padding: 1rem;
  border-bottom: 1px var(--ocf-primary) dotted;
}

#project .meta__section:last-child {
  border-bottom: none;
}

@media only screen and (width < 768px) {
  #project .meta__section {
    padding-left: 0;
    padding-right: 0;
  }
}

#project .meta__join {
  width: fit-content;
  min-width: 9rem;
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

#project .meta__cast {
  grid-template-columns: auto 1fr;
  gap: 1em;
  align-items: flex-start;
}

#project .meta__cast > * {
  margin: 0;
}

#project #hero {
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}

#project #hero .background {
  object-fit: cover;
  object-position: center;
  width: 100%;
  min-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

#project #hero .background.image {
  opacity: 0.95;
}

#project #hero .background.veil {
  opacity: 0.1;
  background-color: #000;
}

#project #hero .ui.header > .icon {
  font-size: 1em;
  vertical-align: initial;
}

#project .relative {
  position: relative;
}

#project .items .item .ui.horizontal.labels .label {
  margin-bottom: 0.5em;
}

#project iframe {
  width: 100%;
  height: 30rem;
  border: none;
}

#project .project__body {
  img {
    max-width: 35%;
  }
}

#project .flex-swap {
  order: 3;
}

@media only screen and (max-width: 767px) {
  #project .flex-swap {
    order: 0;
  }
}

.ui.dividing.header {
  cursor: pointer;
  .icon {
    font-size: 1em;
    float: right;
    line-height: 1.75em;
  }
}
