/* general styles */

#report .relative {
  position: relative;
}

#report .background.image {
  min-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-position: top;
  opacity: 0.9;
}
#report .background.image.veil {
  background-color: #000;
  opacity: 0.3;
}

#report .ui.grid .column {
  text-align: center;
}
#report > section.segment > .ui.grid > .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#report .ui.grid .inverted.column {
  color: #fff;
}

@media only screen and (max-width: 767px) {
  #report > section.segment {
    padding-left: 0;
    padding-right: 0;
  }
}

/* content specific styles: people */

#report #people.ui.grid:not(:first-child) {
  margin-top: 0;
}
#report #people.ui.grid:not(:last-child) {
  margin-top: 0;
}
#report #people.ui.grid .column {
  padding: 0;
  overflow: hidden;
}
#report #people.ui.grid .column .image.container {
  padding-top: 100%;
}
#report #people.ui.grid .column img {
  object-fit: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 100%;
}
#report #people.ui.grid .column .ui.label {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0;
}

/* content specific styles: iframes */

#report iframe {
  width: 100%;
  border: none;
  margin: 1rem 0;
}

/* content specific styles: image sliders */

#report .slick {
  margin-left: -1rem;
  margin-right: -1rem;
}
#report .slick:first-child {
  margin-top: -1rem;
}
#report .slick:first-child {
  margin-bottom: -1rem;
}
