/* general styles */

#report .relative {
  position: relative;
}

#report .background.image {
  min-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}
#report .background.image.veil {
  opacity: 0.3;
}

#report .ui.grid .column {
  text-align: center;
}

#report .ui.grid .inverted.column {
  color: #fff;
}

#report .ui.grid .inverted.column .bordered.icon:not(.inverted) {
  box-shadow: 0 0 0 0.1em hsla(0, 0%, 100%, 0.5) inset;
}

/* level one grids */

#report > section.segment > .ui.grid > .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  #report > section.segment {
    padding-left: 0;
    padding-right: 0;
  }
}

/* content specific styles: images, slides */

#report [data-type='image'],
#report [data-type='slides'] {
  margin-left: -1rem;
  margin-right: -1rem;
}
#report [data-type='images']:first-child,
#report [data-type='slides']:first-child {
  margin-top: -1rem;
}
#report [data-type='images']:last-child,
#report [data-type='slides']:last-child {
  margin-bottom: -1rem;
}

/* content specific styles: people */

#report [data-type='people'].ui.grid:not(:first-child) {
  margin-top: 0;
}
#report [data-type='people'].ui.grid:not(:last-child) {
  margin-top: 0;
}
#report [data-type='people'].ui.grid .column {
  padding: 0;
  overflow: hidden;
}
#report [data-type='people'].ui.grid .column .image.container {
  padding-top: 100%;
}
#report [data-type='people'].ui.grid .column img {
  object-fit: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 100%;
}
#report [data-type='people'].ui.grid .column .ui.label {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0;
}

/* content specific styles: iframes */

#report iframe {
  width: 100%;
  height: 20rem;
  border: none;
  margin: 1rem 0;
}
