#report #projectLink {
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}

#report #projectLink .background {
  object-fit: cover;
  object-position: center;
  width: 100%;
  min-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

#report #projectLink .background.image {
  opacity: 0.95;
}

#report #projectLink .background.veil {
  opacity: 0.1;
  background-color: #000;
}

#report #projectLink .ui.header > .icon {
  font-size: 1em;
  vertical-align: initial;
}

#report #hero {
  overflow: hidden;
}

#report #hero.ui.segment:not(.inverted),
#report .title.ui.segment:not(.inverted) {
  border-top: none !important;
}

#report #hero .cover,
#report .title .cover {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.3;
  background-color: #fff;
}

#report #hero.inverted .cover,
#report .title.inverted .cover {
  background-color: #000;
}

#report #hero .cover.image,
#report .title .cover.image,
#report .content .cover.image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#report #hero .cover.image,
#report .title .cover.image {
  opacity: 0.9;
}

#report .content .cover.image {
  min-height: 100%;
}

#report #hero .circular.icon,
#report .title .bordered.icon {
  color: #000;
  box-shadow: 0 0 0 0.1em rgba(0, 0, 0, 0.3) inset;
}

#report #hero.inverted .circular.icon,
#report .title.inverted .bordered.icon {
  color: #fff;
  box-shadow: 0 0 0 0.1em rgba(255, 255, 255, 0.6) inset;
}

#report .title .bordered.icon {
  font-size: 3rem;
}

#report .og-banner {
  max-width: 100%;
  opacity: 1;
}

#report .content.container {
  margin: 0 auto;
  max-width: 100%;
}

#report .center.aligned.container .list .icon {
  display: inline-block;
  margin-right: 0.25em;
}

#report .image_header .action {
  position: absolute;
  bottom: 0;
  padding: 1rem 2rem;
  width: 100%;
}

#report .image_header .action.right.aligned {
  text-align: right;
}

#report .image_header .action.left.aligned {
  text-align: left;
}

#report .image_header .action.center.aligned {
  text-align: center;
}

#report .image_header .action .button {
  margin: 0;
}

#report .relative {
  position: relative;
}

#report .flex-swap {
  order: 3;
}

#report section.ui.grid > .column:not(.row) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#report section.ui.column.grid .column {
  padding: 0;
}

#report section.ui.column.grid {
  margin: 0;
}

#report section.ui.column.grid .column > .ui.image {
  object-fit: cover;
}

#report section.ui.column.grid .column > iframe {
  width: 100%;
  border: none;
  padding: 2rem 0;
}

#report section.ui.column.grid .column[data-type="collage"] .ui.grid {
  margin: 0;
}
#report section.ui.column.grid .column[data-type="collage"] .image {
  padding-top: 100%;
  height: auto;
  overflow: hidden;
}
#report section.ui.column.grid .column[data-type="collage"] .image img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  min-width: 100%;
}
#report section.ui.column.grid .column[data-type="collage"] .image > .ui.label {
  background-color: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 767px) {
  #report .ui.stackable.grid > .column:not(.row) {
    padding: 0 !important;
  }

  #report .flex-swap {
    order: 0;
  }

  #report header.ui.segment .bordered.icon {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 640px) {
  #report header.ui.segment {
    padding-left: 0;
    padding-right: 0;
  }

  #report .image_header .action,
  #report .image_header .action.right.aligned,
  #report .image_header .action.left.aligned,
  #report .image_header .action.center.aligned {
    padding: 1rem;
    position: static;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  #report section.ui.column.grid .column > .ui.image {
    min-height: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  #report .ui.container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #report .padded.ui.container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
