<header id="hero" class="ui inverted {{ project.theme_color }} center aligned basic segment marginless">
  <img class="background image" src="{{ project_header_image }}" style="opacity: {{ page.header_image_opacity }}" alt="header image for {{ project_name }}" />
  <div class="background veil" style="opacity: {{ page.header_veil_opacity }}"></div>
  {% if parent_project %}
  {% include _shared/parent.html url=parent_project_url project=parent_project %}
  {% endif %}

  <hr class="ui hidden section divider" />

  <div class="ui stripe relative container">
    <h1 class="ui inverted header">
      {% include p/name.html %}
      <p class="sub header">
        {{ project_tagline }}
      </p>
    </h1>
  </div>

  <hr class="ui hidden section divider" />
</header>
