<header id="hero" class="ui inverted {{ project.theme_color }} center aligned basic segment marginless">
  <img class="cover image" src="{{ project_header_image }}" style="opacity: {{ page.cover_image_opacity }}" alt="header image for {{ project_name }}" />
  <div class="cover veil" style="opacity: {{ page.cover_veil_opacity }}"></div>

  {% if parent_project %}
  {% include _shared/parent.html url=parnet_project_url project=parent_project %}
  {% endif %}

  <hr class="ui hidden section divider" />

  <div class="ui stripe relative container">
    <h1 class="ui inverted header">
      {% include p/name.html %}
      <p class="sub header">
        {{ project_tagline }}
      </p>
    </h1>
  </div>

  <hr class="ui hidden section divider" />
</header>

{% if project_description %}
<div class="ui container">
  <section class="ui inverted bottom attached {{ project.theme_color }} segment borderless">
    <p>
      {{ project_description }}
    </p>
  </section>
</div>
{% endif %}
