<!-- 抓取目前時間 -->

{% include _var/now.html %}

<!-- 根據語系設定專案顯示資訊 -->

{% if lang == 'en' %}
  {% assign project_metas = project.metas_en %}
  {% assign project_links = project.links_en %}
{% else %}
  {% assign project_metas = project.metas %}
  {% assign project_links = project.links %}
{% endif %}

<!-- 行動按鈕 -->

{% if now > project.end %}
{% else %}
  {% include p/meta/join.html %}
{% endif %}

<!-- 頭像 -->

<div class="ui horizontal divider">
  <i class="info circle icon"></i>
  {% include _shared/titles.html type='project' id='about' %}
</div>

{% include p/meta/avatar.html %}

<!-- 專案名稱 -->

<h2 class="ui center aligned small header">
  {% include p/name.html return='string' %}
</h2>
<!-- 專案簡介 -->
{% if project_description %}
<p>
  {{ project_description }}
</p>
{% endif %}

<!-- 專案 meta 資訊 -->

<div id="cast" class="ui divided list">

{% include p/meta/people.html %}

{% include p/meta/metas.html %}

{% if page.show_progress %}
  {% include p/meta/raising.html %}
{% endif %}

</div>

{% if page.show_progress %}
  {% include p/meta/progress.html %}
{% endif %}

<!-- 相關連結 -->

{% include p/meta/links.html %}

<!-- 子專案 -->

{% if parent_project %}
{% elsif page.show_child_projects %}
  {% include p/meta/childprojects.html %}
{% endif %}
