{% include _var/event.html %}

<div class="item">

  <!-- 活動主視覺圖片 -->

  <div class="image" style="margin: auto;">
    {% if event_banner_image %}
    <img src="{{ event_banner_image }}" alt="Event banner image for {{ event_name }}"/>
    {% elsif event_cover_image %}
    <img src="{{ event_cover_image }}" alt="Event cover image for {{ event_name }}"/>
    {% endif %}
  </div>

  <div class="content">

    <!-- 在 journal 頁時：顯示所屬專案 -->

    {% if page.layout == "global" %}
    {% for project_id in event.project_ids %}
      <p>
        {% include _shared/titles.html type='shared' id='project' %} ⸺ 

      {% assign project = site.data.p[project_id].project %}
      {% include _var/plist/item.html project=project %}

      <a href="{{ project_url }}">
        {% include p/name.html return="string" project=project %}
      </a>
      </p>
    {% endfor %}
    {% endif %}

    <!-- 活動名稱與副標題 -->

    <h3 class="ui header">
      {% if event_url %}
        {% include _shared/link.html url=event_url title=event_name %}
      {% else %}
        {{ event_name }}
      {% endif %}
      {% include e/subheaders.html %}
    </h3>

    <!-- 活動分類標籤 -->

    {% if event_labels %}
      <div class="meta">
        {% include e/labels.html %}
      </div>
    {% endif %}
      
    <!-- 活動日期 -->

    {% if event.start %}
    <div class="meta">
      {% include e/startend.html %}
    </div>
    {% endif %}

    <!-- 相關人員 -->

    {% include p/events/people.html %}

    <!-- 其他資訊 -->

    {% if event_metas %}
      {% include e/metas.html %}
    {% endif %}

    <!-- 活動簡介 -->

    {% if event_description %}
    <div class="description">
      <p>{{ event_description }}</p>
    </div>
    {% endif %}

    <!-- 相關連結 -->

    {% if event_links %}
    <div class="extra">
      {% include e/links.html %}
    </div>
    {% endif %}

  </div>
</div>

