{% assign org_types = 'advisor,organizer,co-organizer,implementer,sponsor' | split: ',' %}
{% assign individual_types = 'host,speaker,participant,volunteer,coordinator' | split: ',' %}

{% for org_type in org_types %}
  {% assign key = org_type | append: '_ids' %}
  {% if event[key] %}
  <div class="meta">
      {% include _shared/org_type.html org_type=org_type %}
      :
    <span class="text">
    {% for org_id in event[key] %}
      {% include _shared/org_name.html org_id=org_id %}
      {% if forloop.rindex > 1 %}
      ,
      {% endif %}
    {% endfor %}
    </span>
  </div>
  {% endif %}
{% endfor %}

{% for individual_type in individual_types %}
  {% assign key = individual_type | append: '_ids' %}
  {% if event[key] %}
  <div class="meta">
    {% include _shared/individual_type.html individual_type=individual_type %}
    :
    <span class="text">
    {% for individual_id in event[key] %}
      {% include _shared/individual_name.html individual_id=individual_id %}
      {% if forloop.rindex > 1 %}
      ,
      {% endif %}
    {% endfor %}
    </span>
  </div>
  {% endif %}
{% endfor %}
