<table class="ui definition table">
  <tr class="top aligned">
    <td>Email</td>
    <td>
    {{ site.data.people.orgs.ocf.contact.email.general }}
    </td>
  </tr>
  <tr class="top aligned">
    <td>台北辦公室地址</td>
    <td>
    {{ site.data.people.orgs.ocf.contact.address.taipei }}
    </td>
  </tr>
  <tr class="top aligned">
    <td>台北辦公室電話</td>
    <td>
    {{ site.data.people.orgs.ocf.contact.tel.taipei }}
    </td>
  </tr>
  <tr class="top aligned">
    <td>桃園辦公室地址</td>
    <td>
    {{ site.data.people.orgs.ocf.contact.address.taoyuan }}
    </td>
  </tr>
  <tr class="top aligned">
    <td>桃園辦公室電話</td>
    <td>
    {{ site.data.people.orgs.ocf.contact.tel.taoyuan }}
    </td>
  </tr>
  <tr class="top aligned">
    <td>桃園辦公室傳真</td>
    <td>
    {{ site.data.people.orgs.ocf.contact.fax.taoyuan }}
    </td>
  </tr>
</table>