<!-- Add fancyBox -->
<link rel="stylesheet" href="/assets/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="/assets/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
<script type="text/javascript" src="/assets/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<script>
  $(function () {
    $(".fancybox").fancybox({
      openEffect: 'none',
      closeEffect: 'none',
      nextEffect: 'none',
      prevEffect: 'none',
    });
  });
</script>
