---
redirect_from:
  - /media-kit
  - /media-kit/

layout: global
og_title: 媒體專區
og_description: 媒體朋友、合作夥伴請進！相關資源都在這裡，歡迎取用 :D
toc:
  branding: OCF logo - 請閱讀品牌識別規範
  promotion: 文宣品
  download: 下載所有資源
---

<main id="mediakit">
  <div class="ui center aligned stripe container">
    <h1 class="ui icon header">
      <i class="announcement circular icon"></i>
      {{ page.og_title }}
    </h1>
    <p>媒體朋友與合作夥伴們，歡迎自由取用以下資源</p>

    <nav id="submenu" data-context="mobile" class="ui sticky one item menu">
      <div class="ui dropdown item">
        <span data-content="current">跳至...</span>
        <i class="dropdown icon"></i>
        <div class="menu">
          {% for article in page.toc %}
          <a href="#{{ article[0] }}" class="item">{{ article[1] }}</a>
          {% endfor %}
        </div>
      </div>
    </nav>
  </div>

  <hr class="ui hidden divider" />

  <div class="ui stripe container">
    <div class="ui two column stackable grid">
      <div id="toc" data-context="desktop" class="four wide column">
        <nav class="ui secondary sticky vertical pointing fluid menu">
          {% for article in page.toc %}
          <a href="#{{ article[0] }}" class="item">{{ article[1] }}</a>
          {% endfor %}
        </nav>
      </div>

      <div class="twelve wide column">
        {% for article in page.toc %} {% assign id = article[0] %}

        <h2 id="{{ article[0] }}" class="ui dividing header">
          {{ article[1] }}
        </h2>

        {% include_relative {{ id }}.html %} {% endfor %}
      </div>
    </div>
  </div>

  <hr class="ui hidden divider" />
</main>
