---
layout: design
og_title: 全站 layouts 總覽
og_description: 這頁是 OCF.tw 官網改版 2016 年度結案交接文件之一，列出全站所有頁面所使用的 html 模版及頁內零件，用來確認每頁的內容物是否完整。
script: script-tablesort.html
css: /assets/design.css
js: /assets/layout.js
---

<main id="layout">

<section class="ui stripe center aligned container">
<h1 class="ui icon header">
<i class="icon grid layout circular inverted pink"></i>
{{ page.og_title }}</h1>
<p>{{ page.og_description }}</p>
</section>

<section class="ui stripe container">
<table class="ui sortable table">
  <thead>
  <tr>
    <th class="five wide">url</th>
    <th class="five wide">title</th>
    <th class="three wide">layout</th>
    <th class="three wide">content</th>
  </tr>
  </thead>
  <tbody>
  {% for p in site.pages %}
  <tr class="top aligned" data-url="{{ p.url }}">
    <td>
    <pre>{{ p.url }}</pre>
    </td>
    <td data-value="title">
    </td>
    <td data-value="layout">
    <pre>{{ p.layout }}</pre>
    </td>
    <td data-value="content">
    {% if p.content.size > 0 %}
    <a target="_blank" href="{{ p.url }}">詳細內容</a>
    {% endif %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</section>

<hr class="ui hidden divider" />
</main>
