---
layout: design
data: layout
script: script-tablesort.html
js: /assets/layout.js
---

<table class="ui sortable table">
  <thead>
  <tr>
    <th class="five wide">url</th>
    <th class="five wide">title</th>
    <th class="three wide">layout</th>
    <th class="three wide">content</th>
  </tr>
  </thead>
  <tbody>
  {% for p in site.pages %}
  <tr class="top aligned" data-url="{{ p.url }}">
    <td>
    <pre>{{ p.url }}</pre>
    </td>
    <td data-value="title">
    </td>
    <td data-value="layout">
    <pre>{{ p.layout }}</pre>
    </td>
    <td data-value="content">
    {% if p.content.size > 0 %}
    <a target="_blank" href="{{ p.url }}">詳細內容</a>
    {% endif %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
