---
layout: global
---

<!-- 設計師後台頁面共用的 template -->

{% assign data = page.data %}

<main id="{{ data }}">
  <!-- 套上設計師後台頁面的大標題區塊 -->
  <header class="ui stripe center aligned container">
    <h1 class="ui icon header">
      <i class="icon {{ site.data.design.settings.menu[data].icon }} circular inverted pink"></i>
      {{ site.data.design.settings.menu[data].title }}
    </h1>
    <div class="intro">
      <p>{{ site.data.design.settings.menu[data].description }}</p>
    </div>
    {% if page.toc %}
    <nav id="submenu" data-context="mobile" class="ui sticky one item menu">
      <div class="ui dropdown item">
        <span data-content="current">跳至...</span>
        <i class="dropdown icon"></i>
        <div class="menu">

          {% for article in page.toc %}
          <a href="#{{ article[0] }}" class="item">{{ article[1] }}</a>
          {% endfor %}

        </div>
      </div>
    </nav>
    {% endif %}
  </header>

  <section class="ui stripe container">
  {{ content }}
  </section>
</main>

<hr class="ui divider">

<section class="ui stripe container">
{% include banner_cta.html %}
</section>
