---
layout: global
---

{% include _var/e.html %}

<main id="event">

{% include e/header.html %}

<div class="ui container">

  <!-- 版型 start -->
  {% if event.banner_image %}
  <div class="ui two column stackable grid">
    <div class="six wide {{ event.theme_color }} paddingless column">
      <aside class="ui sticky basic paddingless segment">
        <img class="ui fluid image" src="{{ event.banner_image }}" alt="Banner image for '{{ event_name }}'" />
      </aside>
    </div>
    <div class="ten wide column">
  {% else %}
  <div class="single column">
    {% if event.cover_image %}
    <img class="ui fluid image" src="{{ event.cover_image }}" alt="Cover image for '{{ event_name }}'" />
    {% else %}
    <div></div>
    {% endif %}
  {% endif %}
  <!-- 版型 end -->

  <h1 class="ui header">
    {{ event_name }}
    {% include e/subheaders.html %}
  </h1>
  <div class="ui basic secondary segment">
    {% for description in event_descriptions %}
    <p>{{ description }}</p>
    {% endfor %}
  </div>

  {{ content }}

  <div class="ui hidden divider"></div>

  <div class="ui basic secondary segment">
    <div class="ui top attached center aligned label">
      <i class="grey icon info"></i>
      {{ event_name }}
    </div>

    <div class="ui two column stackable grid">
      <div class="column">

        <!-- 活動分類標籤 -->

        {% if event_labels %}
          <h3 class="ui dividing small header">
            {% include _shared/titles.html type='shared' id='tags' %}
          </h3>
          {% include e/labels.html %}
        {% endif %}

        <!-- 活動日期 -->

        {% if event.start %}
          <h3 class="ui dividing small header">
          {% include _shared/titles.html type='shared' id='date' %}
          </h3>
          {% include e/startend.html %}
        {% endif %}

        <!-- 相關人員 -->

        <h3 class="ui dividing small header">
          {% include _shared/titles.html type='shared' id='cast' %}
        </h3>
        {% include p/events/people.html %}
        {% if event_metas %}
          {% include e/metas.html %}
        {% endif %}

      </div>
      <div class="column">

        <!-- 相關連結 -->

        {% if event_links %}
          <h3 class="ui dividing small header">
            {% include _shared/titles.html type='shared' id='links' %}
          </h3>
          <div class="ui link list">
            {% for link in event_links %}
              {% include _shared/link.html class='item' link=link icon='conditional' %}
            {% endfor %}
          </div>
        {% endif %}

      </div>
    </div>
  </div>

  <div class="ui hidden divider"></div>

  <!-- 版型 start -->
  {% if event.banner_image %}
    </div>
  </div>
  {% else %}
  </div>
{% endif %}
  <!-- 版型 end -->

</div>

</main>
