---
layout: global
---

<!-- 活動頁共用的 template -->

<!-- 抓取活動基本資料 -->
{% assign year = page.year | append: "" %}
{% assign project_id = page.project_id | append: "" %}
{% assign project = site.data.projects[year][project_id] %}
{% assign event_id = page.event_id %}
{% assign event = site.data.events[year][event_id] %}

<main id="event">

<!-- 讓使用者可以連到活動所屬的專案 -->
<nav id="hero" class="ui inverted {{ page.color }} basic segment marginless">

  <!-- 若有需要，可在檔頭做設定，調整背景圖的透明度跟混色 -->
  <img class="cover image" src="{{ project.cover }}" style="opacity: {{ page.image_opacity }}" alt="Cover image for '{{ project.name }}'" />
  <div class="cover" style="opacity: {{ page.veil_opacity }}"></div>

  <div class="ui container">
    <a href="{{ project.link[0].url }}" class="ui inverted small header relative">
      <i class="left arrow icon"></i>
      返回 {{ project.name }}
      {% if page.year != site.data.settings.current %}
      ( {{ page.year }} 年度)
      {% endif %}
    </a>
  </div>
</nav>

<div class="ui container">
  <div class="ui hidden divider"></div>
  <div class="ui two column stackable grid">
    <div class="six wide column">

      <aside class="ui sticky basic paddingless segment">

        <!-- 拿 x 展架海報當配圖，如果有的話 -->
        {% if event.banner %}
        <img class="ui fluid image" src="{{ event.banner }}" alt="Banner image for '{{ event.name }}'" />

        <!-- 或者拿 og image 當配圖，如果有的話 -->
        {% elsif event.cover %}
        <img class="ui fluid image" src="{{ event.cover }}" alt="Banner image for '{{ event.name }}'" />

        <!-- 或者拿活動 logo 當配圖，如果有的話 -->
        {% elsif event.avatar %}
        <img class="ui fluid image" src="{{ event.avatar }}" alt="Banner image for '{{ event.name }}'" />

        <!-- 以上通通沒有的話就算啦 -->
        {% endif %}

      </aside>
    </div>

    <div class="ten wide column">

      <!-- 根據活動資料生出頁面 header -->
      <h1 class="ui header">
        {{ event.title }}
        {% if event.subtitle %}
        {% for subtitle in event.subtitle %}
        <span class="sub header">{{ subtitle }}</span>
        {% endfor %}
        {% endif %}
      </h1>
      {% include event_summary.html %}

      {{ content }}

    </div>
  </div>
  <div class="ui hidden divider"></div>
</div>

</main>
