---
layout: global
---

{% include _var/plist.html %}

<div id="plist">

  <div id="title" class="page__container page__flex">
    {% include plist/title.html %}
  </div>

  <div id="menu" class="page__container page__flex">
    {% include plist/menu.html %}
  </div>

  <div class="page__spacer--large"></div>

  <section id="projects" class="page__container">
    <div class="page__grid">

      {% for project_id in plist %}

        {% if project_id == 'project_id' %}
        {% else %}
          {% assign project = site.data.p[project_id].project %}
          {% include plist/card.html project=project %}
        {% endif %}

      {% endfor %}

    </div>

  </section>

  <div class="page__spacer--large"></div>

</div>
