---
og_title: 基金會專案
layout: global
---

{% include _var/plist.html %}

<div id="plist">

  {% if lang == 'en' %}
    {% assign description="ongoing projects" %}
  {% else %}
    {% assign description="個專案正在加速進行中！" %}
  {% endif %}

  {% include _shared/kv.html title=page.og_title
    description=description image=page.og_image %}

  <div class="ui center aligned stripe container">
    {% include plist/menu.html %}
  </div>

  <div class="page__spacer--large"></div>

  <section id="projects" class="page__container">
    <div class="page__grid">

      {% for project_id in plist %}

        {% if project_id == 'project_id' %}
        {% else %}
          {% assign project = site.data.p[project_id].project %}
          {% include plist/card.html project=project %}
        {% endif %}

      {% endfor %}

    </div>

  </section>

  <div class="page__spacer--large"></div>

</div>
