---
og_title: 基金會專案
layout: global
---

{% include _var/plist.html %}
{% include _var/rlist.html %}

<div id="plist">

  {% include _shared/kv.html title=page.og_title
    description="lorem" image="project_KV.png" %}

  <div class="ui center aligned stripe container">


    {% include plist/menu.html %}



  </div>

  <section id="current" class="ui stripe container">
    <div class="ui three doubling stackable cards">

      {% for project_id in plist %}

        {% if project_id == 'project_id' %}
        {% else %}
          {% assign project = site.data.p[project_id].project %}
          {% include plist/card.html project=project %}
        {% endif %}

      {% endfor %}

    </div>

  </section>

  <div class="ui horizontal divider">
  {% if lang == 'en' %}
    Annual Reports
  {% else %}
    歷年成果
  {% endif %}
  </div>

  <section id="results" class="ui stripe container">
    <div class="ui divided items">

      {% for year_id in rlist %}

        {% if year_id == '_yyyy' %}
        {% else %}
          {% assign report = site.data.reports[year_id] %}
          {% include rlist/item.html year_id=year_id report=report %}
        {% endif %}

      {% endfor %}

    </div>
  </section>

  <hr class="ui divider" />

  <section class="ui stripe container">
    {% include banner_cta.html %}
  </section>

</div>
