---
layout: global
---

<!-- 專案頁共用的 template -->

<!-- 抓取專案基本資料 -->
{% assign current = site.data.settings.current | append: "" %}
{% assign year = page.year | append: "" %}
{% if year == "current" %}
  {% assign year = current %}
{% endif %}
{% assign project_id = page.project_id | append: "" %}
{% assign project = site.data.projects[year][project_id] %}
{% assign events = site.data.events[project_id] %}

<main id="project">

<!-- 根據專案資料產生頁面 header -->
<header id="hero" class="ui inverted {{ page.color }} center aligned basic segment marginless">

  <!-- 若有需要，可在檔頭做設定，調整背景圖的透明度跟混色 -->
  <img class="cover image"
  {% if page.cover_image %}
  src="{{ page.cover_image }}"
  {% else %}
  src="{{ project.cover }}"
  {% endif %}
  style="opacity: {{ page.cover_image_opacity }}" alt="" / />
  <div class="cover" style="opacity: {{ page.cover_veil_opacity }}"></div>
  <hr class="ui hidden section divider" />

  <div class="ui stripe relative container">
    <h1 class="ui inverted header">
      {% if page.lang == 'en' %}
      {{ project.name_en }}
      {% else %}
      {{ project.name }}
      {% endif %}
      {% if year != current %}
      ( {{ year }} 年度)
      {% endif %}
    </h1>
    <p>
      {% if page.lang == 'en' %}
      {{ project.tagline_en }}
      {% else %}
      {{ project.tagline }}
      {% endif %}
    </p>
  </div>
  <hr class="ui hidden section divider" />
</header>

<!-- 根據專案資料產生 summary 區塊 -->
{% if project.description %}
<div class="ui container">
  <section class="ui inverted bottom attached {{ page.color }} segment borderless">
    <p>
      {% if page.lang == 'en' %}
      {{ project.description_en }}
      {% else %}
      {{ project.description }}
      {% endif %}
    </p>
  </section>
</div>
{% endif %}

<div class="ui container">
  <div class="ui hidden divider"></div>
  <div class="ui two column stackable grid">

    <div class="six wide column flex-swap">
      <aside id="meta" class="ui sticky secondary basic segment">

      <!-- 從專案資料產生小檔案以及 call to action 區塊 -->
      {% include project/meta.html %}

      </aside>
    </div>
    
    <div class="ten wide column">

      {{ content }}

      <!-- 根據專案頁設定，從活動資料產生專案成果列表區塊 -->
      {% if page.show_events %}
      <h2 id="events" class="ui dividing header">
        {% if page.lang == "en" %}
        Events
        {% else %}
        計畫成果
        {% endif %}
      </h2>
      {% include events/list.html %}
      {% endif %}

      <!-- 根據專案頁設定，顯示專案預算表區塊 -->
      {% if page.show_budget %}
      <h2 id="budget" class="ui header">
        {% if page.lang == "en" %}
        Budget
        {% else %}
        預算表
        {% endif %}
      </h2>
      {% include_relative budget.html %}
      {% endif %}

      <!-- 根據專案頁設定，顯示內嵌 gsheet 區塊 -->
      {% if page.gsheet_url contains "http" %}
      <h2 id="payments" class="ui dividing header">
        {% if page.lang == "en" %}
        Income Statement
        {% else %}
        收支明細
        {% endif %}
      </h2>
      <div class="ui basic paddingless segment">
        <iframe src="{{ page.gsheet_url }}"></iframe>
      </div>
      {% endif %}

      <!-- 根據專案頁設定，從專案資料產生贊助商 logo 牆 -->
      {% if project.sponsor_id and page.show_sponsors %}
      <h2 class="ui dividing header">
        {% if page.lang == "en" %}
        Sponsor
        {% else %}
        贊助商
        {% endif %}
      </h2>
      <div id="sponsors" class="ui horizontal center aligned list">

        {% for org_id in project.sponsor_id %}
        {% assign org = site.data.people.orgs[org_id] %}
        <a class="item" target="_blank" href="{{ org.link[1].url }}">
          {% if org.logo %}
          <img class="logo" src="{{ org.logo }}" alt="{{ org.name }}" />
          {% else %}
          {{ org.name }}
          {% endif %}
        </a>
        {% endfor %}

      </div>
      {% endif %}

      <!-- 根據專案頁設定，從專案資料產生捐助人名單 -->
      {% if project.donors and page.show_donors %}
      <h2 class="ui dividing header">
        {% if page.lang == "en" %}
        Donor
        {% else %}
        捐助人
        {% endif %}
      </h2>
      <div id="donors" class="ui center aligned labels">

        {% for donor in project.donors %}
          <span class="ui label">{{ donor }}</span>
        {% endfor %}

      </div>
      {% endif %}

    </div>

  </div>
  <div class="ui hidden divider"></div>
</div>

</main>
