---
layout: global
---

<!-- 成果報告頁共用的 template -->

<!-- 抓取 report 資訊 -->
{% assign year = page.year | append: '' %}

{% if page.lang == "en" %}
{% assign report_id = year | append: '_' | append: page.lang %}
{% else %}
{% assign report_id = year %}
{% endif %}

{% include _var/p.html %}

{% if project %}
{% assign report = site.data.p[ project_id ][ report_id ] %}
{% else %}
{% assign report = site.data.reports[ report_id ] %}
{% endif %}

<!-- 自訂對齊方式 -->

{% if report.alignment == "center" %}
  {% assign report_alignment = "center aligned" %}
{% elsif report.alignment == "right" %}
  {% assign report_alignment = "right aligned" %}
{% else %}
  {% assign report_alignment = "left aligned" %}
{% endif %}

<main id="report">

  <!-- 從專案資料產生回上層連結 (optional) -->
  {% if project %}  
  <header id="projectLink" class="ui inverted {{ project.theme_color }} center aligned basic segment marginless">
    <img class="background image" src="{{ project_header_image }}" style="opacity: {{ page.header_image_opacity }}" alt="header image for {{ project_name }}" />
    <div class="background veil" style="opacity: {{ page.header_veil_opacity }}"></div>
    {% include _shared/parent.html url=project_url project=project %}
  </header>
  {% endif %}

  <!-- 從成果報告資料產生頁面 header -->
  {% if report.theme == "light" %}
  {% assign hero_style = "" %}
  {% assign hero_title_color = report.color %}
  {% else %}
  {% assign hero_style = "inverted" %}
  {% assign hero_title_color = "white" %}
  {% endif %}

  <header id="hero"
    class="ui {{ hero_style }} {{ report.color }} center aligned basic very padded segment marginless">

    <!-- 若有需要，可在檔頭做設定，調整背景圖的透明度跟混色 -->
    <div class="cover image" style="background-image: url({{ report.cover }});
         background-size: {{ report.cover_image_size }};
         background-position: {{ report.cover_image_position }};
         background-repeat: {{ report.cover_image_repeat }};
         opacity: {{ report.cover_image_opacity }};">
    </div>
    <div class="cover" style="opacity: {{ report.cover_veil_opacity }}"></div>
    <hr class="ui hidden divider" />

    <div class="ui stripe relative container">
      <h1 class="ui {{ hero_style }} {{ hero_title_color }} header">
        {{ report.title }}
      </h1>
      <p>
        {{ report.description }}
      </p>
    </div>
    <hr class="ui hidden divider" />
  </header>

  <!-- 從成果報告資料產生各展示區塊 -->
  {% for item in report.items %}

  <!-- 標題區塊 -->
  {% if item.type == "header" %}

  {% if item.theme == "light" %}
  {% assign item_style = "" %}
  {% assign item_title_color = item.background_color %}
  {% else %}
  {% assign item_style = "inverted" %}
  {% assign item_title_color = "white" %}
  {% endif %}
  <a name="{{ item.anchor }}"></a>
  <header
    class="title ui basic very padded segment marginless {{ item_style }} {{ item.background_color }}">
    {% if item.cover %}
    <div class="cover image" style="background-image: url({{ item.cover }});
        background-size: {{ item.cover_image_size }};
         background-position: {{ item.cover_image_position }};
         background-repeat: {{ item.cover_image_repeat }};
         opacity: {{ item.cover_image_opacity }}">
    </div>
    <div class="cover" style="opacity: {{ item.cover_veil_opacity }}"></div>
    {% endif %}
    <div class="ui center aligned stripe container">
      {% if item.icon %}
      <div class="ui two column stackable grid">
        <div class="four wide column">
          <a href="#{{ item.anchor }}">
            <i class="{{ item.icon }} {{ item_title_color }} icon bordered"></i>
          </a>
        </div>
        <div class="twelve wide left aligned column">
          {% endif %}

          <h2 class="ui {{ item_style }} {{ item_title_color }} header">
            {{ item.title }}
          </h2>
          <p>
            {{ item.description }}
          </p>

          {% if item.icon %}
        </div>
      </div>
      {% endif %}
      {% if item.button %}
      <hr class="ui hidden divider">
      </hr>
      <p class="action" style="text-align: {{ item.button.position }}">
        <a class="ui basic inverted button" href="{{ item.button.url }}"
          target="_blank">
          {{ item.button.title}}
          <i class="icon right arrow"></i>
        </a>
      </p>
      {% endif %}
    </div>
  </header>

  <!-- 圖片式標題區塊 -->
  {% elsif item.type == "image_header" %}
  <a name="{{ item.anchor }}"></a>
  <section style="background-color: {{ item.background_color }};">
    <div class="content container" style="max-width: {{ page.width }};">
      <header class="image_header ui basic segment marginless paddingless">
        {% if item.cover %}
        <div class="ui fluid image">
          <img src="{{ item.cover }}" alt="{{ item.cover_image_alt }}" />
        </div>
        {% endif %}
        {% if item.button %}
        <p class="action {{ item.button.position }} aligned">
          <a class="ui basic inverted button" href="{{ item.button.url }}"
            target="_blank">
            {{ item.button.title}}
            <i class="icon right arrow"></i>
          </a>
        </p>
        {% endif %}
      </header>
    </div>
  </section>

  <!-- 內容區塊 -->
  {% elsif item.type == "content" %}
  <div class="content container" style="max-width: {{ page.width }};">

    {% if item.single_column == true %}
    {% else %}
    <section class="ui two column stackable grid">
      {% endif %}

      {% for column in item.columns %}

      {% if column.alignment == "center" %}
        {% assign column_alignment = "center aligned" %}
      {% elsif column.alignment == "right" %}
        {% assign column_alignment = "right aligned" %}
      {% elsif column.alignment == "left" %}
        {% assign column_alignment = "left aligned" %}
      {% else %}
        {% assign column_alignment = report_alignment %}
      {% endif %}

      <!-- 根據資料產生 image 欄內容，同時決定位置是否要左右對調 -->
      {% if column.type == "image" %}
      <div class="column{% if column.swap %} flex-swap{% endif %}"
        data-type="{{ column.type }}">
        {% if column.background %}
        <div class="cover image" style="min-height: {{ column.background_height }};
          background-image: url({{ column.url }});
          background-color: {{ column.background_color }};
          background-size: {{ column.background_size }};
          background-position: {{ column.background_position }};">
        </div>
        {% else %}
        <img class="ui image" src="{{ column.url }}" alt="" />
        {% endif %}
      </div>

      <!-- 根據資料產生 image slider 欄內容，同時決定位置是否要左右對調 -->
      {% elsif column.type == "slider" %}
      <div class="column{% if column.swap %} flex-swap{% endif %}"
        data-type="{{ column.type }}">
        <div class="slick">
          {% for slide in column.slides %}
          <img class="ui image" src="{{ slide.url }}" />
          {% endfor %}
        </div>
      </div>

      <!-- 根據資料產生 collage 欄內容，同時決定位置是否要左右對調 -->
      {% elsif column.type == "collage" %}
      <div class="column{% if column.swap %} flex-swap{% endif %}"
        data-type="{{ column.type }}">
        <div class="ui {{ column.grid }} column grid">

          {% for item in column.items %}
          <div class="column">

            <div class="ui fluid image">
              {% if item.person_id %}
              {% assign person = site.data.people.individuals[item.person_id] %}
              <img src="{{ person.avatar }}"
                alt="Avatar of '{{ person.name }} ({{ person.nick }})'" />
              <span
                class="ui tiny bottom attached inverted label">{{ person.name }}
                ({{ person.nick }})</span>

              {% elsif item.org_id %}
              {% assign org = site.data.people.orgs[item.org_id] %}
              <img src="{{ org.avatar }}" alt="Avatar of '{{ org.name }}'" />
              <span
                class="ui tiny bottom attached inverted label">{{ org.name }}</span>

              {% else %}
              <img src="{{ item.src }}" alt="{{ item.title }}" />
              <span
                class="ui tiny bottom attached inverted label">{{ item.title }}</span>
              {% endif %}
            </div>

          </div>
          {% endfor %}

        </div>
      </div>

      <!-- 根據資料產生 article 欄內容 -->
      {% elsif column.type == "article" %}
      <div class="column{% if column.swap %} flex-swap{% endif %}"
        data-type="{{ column.type }}">
        <div class="ui {{ column_alignment }} padded stripe container">

          <h3 class="ui header">
            {{ column.title }}
            {% if column.subtitle %}
            <div class="sub header">
              {{ column.subtitle }}
            </div>
            {% endif %}
          </h3>

          {% if column.description %}
          <p>
            {{ column.description }}
          </p>
          {% endif %}

          {% if column.items %}
          <div class="ui link divided list">
            {% for link in column.items %}

            {% if link.project_id %}

            {% if page.year >= 2020 %}
              {% assign data = site.data.p[link.project_id].project %}
              {% assign project_url = "/p/" | append: link.project_id | append: "/" %}
              {% assign project_month = data.reports[page.year] %}
            {% else %}
              {% assign data = site.data.projects[year][link.project_id] %}
              {% assign project_url = data.link[0].url %}
              {% assign project_month = data.month %}
            {% endif %}
            <a class="item" href="{{ project_url }}" target="_blank">
              {% if project_month %}
              <span class="ui horizontal label">
              {% include _shared/month.html lang=page.lang month=project_month %}
              </span>
              {% endif %}

              {% if page.lang == 'en' %}
              {{ data.name_en }}
              {% else %}
              {{ data.name }}
              {% endif %}
            </a>

            {% else %}

            <{% if link.url %}a{% else %}div{% endif %} class="item" {% if
              link.url %} href="{{ link.url }}" target="_blank" {% else %}
              style="cursor: default;" {% endif %}>

              {% if link.month %}
              <span class="ui horizontal label">
                {% include _shared/month.html lang=page.lang month=link.month %}
              </span>
              {% endif %}

              {{ link.title }}

            </{% if link.url %}a{% else %}div{% endif %}>

            {% endif %}

            {% endfor %}
          </div>
          {% endif %}

          {% if column.footer %}
          <p>
            {{ column.footer }}
          </p>
          {% endif %}

          {% if column.logos %}
          <div class="ui horizontal center aligned logos list">
            {% for logo in column.logos %}

            {% if logo.org_id %}
            {% assign org = site.data.people.orgs[ logo.org_id ] %}
            <a class="item" {% if org.link[0].url %} target="_blank"
              href="{{ org.link[0].url }}" {% else %} style="cursor: auto;" {%
              endif %}>
              <img class="logo" src="{{ org.logo }}" alt="{{ org.name }}"
                style="height: {{ column.logo_height }};" />
            </a>
            {% else %}
            <a class="item" {% if logo.url %} target="_blank"
              href="{{ logo.url }}" {% else %} style="cursor: auto;" {% endif
              %}>
              <img class="logo" src="{{ logo.src }}" alt="{{ logo.title }}"
                style="height: {{ column.logo_height }};" />
            </a>
            {% endif %}

            {% endfor %}
          </div>
          {% endif %}

          {% if column.action %}
          <a class="ui basic button" href="{{ column.action.url }}"
            target="_blank">
            {{ column.action.title }}
            <i class="right arrow icon"></i>
          </a>
          {% endif %}

        </div>
      </div>

      <!-- 根據資料產生 iframe 欄內容 -->
      {% elsif column.type == "iframe" %}
      <div class="column{% if column.swap %} flex-swap{% endif %}"
        data-type="{{ column.type }}">
        <div class="ui {{ column_alignment }} stripe container">
          <h3 class="ui {{ column_alignment }} header">
            {{ column.title }}
            <div class="sub header">{{ column.description }}</div>
          </h3>
          <iframe src="{{ column.url }}"
            style="height: {{ column.height }}; border: none; width: 100%; overflow: {% if column.scrolling == "
            yes" %}auto{% else %}hidden{% endif %};"
            scrolling="{% if column.scrolling == " yes" %}auto{% else %}no{%
            endif %}"></iframe>
        </div>
      </div>
      {% endif %}
      {% endfor %}

      {% if item.single_column == true %}
      {% else %}
    </section>
    {% endif %}

  </div>
  {% endif %}
  {% endfor %}

  <!-- 最後放上無所不在的捐款廣告 -->
  {% if page.lang == "en" %}
  {% else %}
  {% include banner_cta.html %}
  {% endif %}

</main>
