---
layout: global
---

<!-- 替 level 1 頁面套上導覽列 -->
{% include navbar_regular_pages.html %}

<!-- 成果報告頁共用的 template -->

{% assign year = page.year | append: '' %}

<main id="report">

<!-- 從成果報告資料產生頁面 header -->
<header id="hero" class="ui inverted {{ site.data.reports[ year ].color }} center aligned basic segment marginless">

  <!-- 若有需要，可在檔頭做設定，調整背景圖的透明度跟混色 -->
  <img class="cover image" src="{{ site.data.reports[ year ].cover }}" style="opacity: {{ site.data.reports[ year ].cover_image_opacity }}" />
  <div class="cover" style="opacity: {{ site.data.reports[ year ].cover_veil_opacity }}"></div>
  <hr class="ui hidden divider" />

  <div class="ui stripe relative container">
    <h1 class="ui inverted icon header">
      <i class="circular trophy icon"></i>
      {{ site.data.reports[ year ].title }}
    </h1>
    <p>
      {{ site.data.reports[ year ].description }}
    </p>
  </div>
  <hr class="ui hidden divider" />
</header>

<!-- 從成果報告資料產生各展示區塊 -->
{% for item in site.data.reports[ year ].items %}

<!-- 標題區塊 -->
{% if item.type == "header" %}
<header class="ui basic very padded segment marginless inverted {{ item.background_color }}">
  <div class="ui center aligned stripe container">
    {% if item.icon %}
    <div class="ui two column stackable grid">
      <div class="four wide right aligned column">
        <i class="{{ item.icon }} icon bordered"></i>
      </div>
      <div class="twelve wide left aligned column">
    {% endif %}

    <h2 class="ui inverted header">
      {{ item.title }}
    </h2>
    <p>
    {{ item.description }}
    </p>

    {% if item.icon %}
      </div>
    </div>
    {% endif %}
  </div>
</header>

<!-- 內容區塊 -->
{% elsif item.type == "content" %}
<section class="ui two column stackable grid">

{% for column in item.columns %}
  {% if column.type == "image" %}

  <!-- 根據資料決定影像 column 的位置是否要左右對調 -->
  <div class="column{% if item.swap %} flex-swap{% endif %}">
    <img class="ui image" src="{{ column.url }}" />
  </div>

  <!-- 根據資料產生文章 column 內容 -->
  {% elsif column.type == "article" %}
  <div class="column">
    <div class="ui center aligned stripe container">

      <h3 class="ui header">
      {{ column.title }}
      {% if column.subtitle %}
        <div class="sub header">
          {{ column.subtitle }}
        </div>
      {% endif %}
      </h3>

      {% if column.description %}
      <p>
      {{ column.description }}
      </p>
      {% endif %}

      {% if column.items %}
      <div class="ui link celled list">
      {% for link in column.items %}

        {% if link.project_id %}
        {% assign data = site.data.projects[year][link.project_id] %}
        <a class="item" href="{{ data.link[0].url }}" target="_blank">
          {% if data.month %}
          <span class="ui horizontal label">
          {{ data.month }} 月
          </span>
          {% endif %}
          {{ data.name }}
        </a>
        {% endif %}

        {% if link.title %}
        <a class="item" href="link.url" target="_blank">
          <span class="ui horizontal label">
          {{ link.month }} 月
          </span>
          {{ link.title }}
        </a>
        {% endif %}

      {% endfor %}
      </div>
      {% endif %}

      {% if column.footer %}
      <p>
      {{ column.footer }}
      </p>
      {% endif %}

      {% if column.action %}
      <a class="ui basic button" href="{{ column.action.url }}" target="_blank">
        {{ column.action.title }}
        <i class="right arrow icon"></i>
      </a>
      {% endif %}

    </div>
  </div>

    {% endif %}
  {% endfor %}

</section>

{% endif %}
{% endfor %}

<!-- 最後放上無所不在的捐款廣告 -->
{% include cta.html %}

</main>
