{% if project.avatar_image %}
  {% assign avatar_src = project.avatar_image %}
{% elsif project.organizer_ids %}
  {% assign organizer_id = project.organizer_ids[0] %}
  {% if site.data.people.orgs[organizer_id].avatar %}
    {% assign avatar_src = site.data.people.orgs[organizer_id].avatar %}
  {% elsif site.data.people.orgs[organizer_id].logo %}
    {% assign avatar_src = site.data.people.orgs[organizer_id].logo %}
  {% elsif site.data.people.orgs[organizer_id].cover %}
    {% assign avatar_src = site.data.people.orgs[organizer_id].cover %}
  {% endif %}
{% endif %}

{% if avatar_src %}
  <img class="ui fluid image" src="{{ avatar_src }}" alt="Visual identity image for '{{ project_name }}'" />
{% endif %}
