{% assign has_sub_project = false %}

<div class="meta__section">
  {% for project_folder in site.data.p[project_id] %}
  {% if project_folder[0] != 'project' and project_folder[0] != 'events' %}
    {% assign sub_project_id = project_folder[0] %}
    {% assign sub_project = site.data.p[project_id][sub_project_id].project %}

    {% if sub_project %}
      {% if has_sub_project == false %}
        <h2 class="ocf__heading3 ocf__text--primary">
          {% include _shared/titles.html type='project' id='child' %}
        </h2>
        <div id="child" class="ui link list">
        {% assign has_sub_project = true %}
      {% endif %}

      {% assign sub_project_url = project_url | append: project_folder[0] %}
      {% include p/name.html project=sub_project return='var' %}
      {% include _shared/link.html class='item' url=sub_project_url title=include_project_name icon='conditional' %}
      {% assign sub_project_url = undefined %}
    {% endif %}

    {% assign sub_project_id = undefined %}
    {% assign sub_project = undefined %}
  {% endif %}
{% endfor %}

{% if has_sub_project == true %}
  </div>
{% endif %}
</div>

{% assign has_sub_project = undefined %}
