{% if lang == 'en' %}
  {% assign project_actions = project.actions_en %}
{% else %}
  {% assign project_actions = project.actions %}
{% endif %}

{% if project_actions %}

<div class="meta__section">
<h2 class="ocf__heading3 ocf__text--primary">
  {% include _shared/titles.html type='project' id='join' %}
</h2>

<div class="page__flex meta__join">
{% for action in project_actions %}
  {% if action.url %}
    <a href="{{ action.url }}" target="_blank"
      class="semantic__button--{{ action.color }}_outline ocf__button ocf__button--outline ocf__button--{{ action.color }}_outline">
      {% if action.icon %}
        <i class="icon {{ action.icon }}"></i>
      {% endif %}
      <span>
        {{ action.title }}
      </span>
    </a>
  {% else %}
    <p>{{ action.title }}</p>
  {% endif %}
{% endfor %}
</div>
</div>

{% endif %}

{% assign project_actions = undefined %}
