{% if lang == 'en' %}
  {% assign project_actions = project.actions_en %}
{% else %}
  {% assign project_actions = project.actions %}
{% endif %}

{% if project_actions %}

<div class="ui horizontal divider">
  <i class="heart icon"></i>
  {% include _shared/titles.html type='project' id='join' %}
</div>

{% for action in project_actions %}
  {% if action.url %}
    {% assign item_class = action.color | append: ' ui fluid button' %}
    <p>
      {% include _shared/link.html
        url=action.url
        class=item_class
        title=action.title
        icon=action.icon %}
    </p>
    {% assign item_class = undefined %}
  {% else %}
    <p>{{ action.title }}</p>
  {% endif %}
{% endfor %}

{% endif %}

{% assign project_actions = undefined %}
