{% if lang == 'en' %}
  {% assign project_links = project.links_en %}
{% else %}
  {% assign project_links = project.links %}
{% endif %}

{% if project_links %}

<div class="meta__section">
<h2 class="ocf__heading3 ocf__text--primary">
  {% include _shared/titles.html type='shared' id='links' %}
</h2>

<div id="links" class="ui link list">
  {% for link in project_links %}
    {% include _shared/link.html link=link class='item' icon='conditional' %}
  {% endfor %}
</div>
</div>

{% endif %}

{% assign project_links = undefined %}
