{% assign progress = page.progress %}

{% if lang == 'en' %}
  {% assign raising_duration_text = 'Duration' %}
  {% assign raising_goal_text = 'Goal' %}
  {% assign raising_current_text = 'Raised' %}
  {% assign raising_count_text = 'Donors' %}
{% else %}
  {% assign raising_duration_text = '募款期間' %}
  {% assign raising_goal_text = '募款目標' %}
  {% assign raising_current_text = '已募得' %}
  {% assign raising_count_text = '支持者' %}
{% endif %}

{% if progress.duration %}
<div class="item">
  <span class="ui horizontal label">{{ raising_duration_text }}</span>
  <span class="text">
    {{ progress.duration }}
  </span>
</div>
{% endif %}

{% if progress.goal %}
<div class="item">
  <span class="ui horizontal label">{{ raising_goal_text }}</span>
  <span id="crm_cpid_{{ page.cpid }}_amt_hi" class="text">
    {{ progress.goal }}
  </span>
</div>
{% endif %}

{% if progress.current %}
<div class="item">
  <span class="ui horizontal label">{{ raising_current_text }}</span>
  <span id="crm_cpid_{{ page.cpid }}_amt_raised" class="text">
    {{ progress.current }}
  </span>
</div>
{% endif %}

{% if progress.count %}
<div class="item">
  <span class="ui horizontal label">{{ raising_count_text }}</span>
  <span class="text">
    <span id="crm_cpid_{{ page.cpid }}_donors">
    {{ progress.count }}
    </span>
  </span>
</div>
{% endif %}
