{% assign progress = page.progress %}

{% if progress.duration %}
<div class="item">
  <span class="ui horizontal label">
  {% include _shared/titles.html type='project' id='raising_duration' %}
  </span>
  <span class="text">
    {{ progress.duration }}
  </span>
</div>
{% endif %}

{% if progress.goal %}
<div class="item">
  <span class="ui horizontal label">
  {% include _shared/titles.html type='project' id='raising_goal' %}
  </span>
  <span id="crm_cpid_{{ page.cpid }}_amt_hi" class="text">
    {{ progress.goal }}
  </span>
</div>
{% endif %}

{% if progress.current %}
<div class="item">
  <span class="ui horizontal label">
  {% include _shared/titles.html type='project' id='raising_current' %}
  </span>
  <span id="crm_cpid_{{ page.cpid }}_amt_raised" class="text">
    {{ progress.current }}
  </span>
</div>
{% endif %}

{% if progress.count %}
<div class="item">
  <span class="ui horizontal label">
  {% include _shared/titles.html type='project' id='raising_count' %}
  </span>
  <span class="text">
    <span id="crm_cpid_{{ page.cpid }}_donors">
    {{ progress.count }}
    </span>
  </span>
</div>
{% endif %}
