<div class="background image"
     style="background-image: url({{ include.item.background_image }});
     background-repeat: {{ include.item.background_image_repeat }};
     background-size: {{ include.item.background_image_size }};
     background-position: {{ include.item.background_image_position}};
     opacity: {{ include.item.background_image_opacity }}">
</div>
<div class="ui inverted basic marginless segment background image veil"
     style="opacity: {{ include.item.background_image_veil_opacity }}">
</div>
